Repository cerner/terra-clinical, pull requests merged in 2018-06, with the labels that each got.

#342 Update outdated dependencies
  package.json
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/src/DetailListItem.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/example/DetailViewDivided.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/example/DetailViewDividedSmallerTitles.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/example/DetailViewNoDivider.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/test/clinical-detail-view/DetailView/DetailViewDivided.test.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/test/clinical-detail-view/DetailView/DetailViewDividedSmallerTitles.test.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/test/clinical-detail-view/DetailView/DetailViewNoDivider.test.jsx
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/src/Header.jsx
  packages/terra-clinical-header/src/terra-dev-site/test/clinical-header/LeftAndRightContentHeader.test.jsx
  packages/terra-clinical-header/src/terra-dev-site/test/clinical-header/LeftAndRightContentSubheader.test.jsx
  packages/terra-clinical-header/src/terra-dev-site/test/clinical-header/LeftContentHeader.test.jsx
  packages/terra-clinical-header/src/terra-dev-site/test/clinical-header/LongTitleAndContentHeader.test.jsx
  packages/terra-clinical-header/src/terra-dev-site/test/clinical-header/NoTitleRightContentHeader.test.jsx
  packages/terra-clinical-header/src/terra-dev-site/test/clinical-header/RightContentHeader.test.jsx
  packages/terra-clinical-item-collection/CHANGELOG.md
  packages/terra-clinical-item-collection/src/Item.jsx
  packages/terra-clinical-item-collection/src/_ItemCollectionUtils.jsx
  packages/terra-clinical-item-collection/src/_ListView.jsx
  packages/terra-clinical-item-collection/src/_TableView.jsx
  packages/terra-clinical-item-collection/src/terra-dev-site/test/clinical-item-collection/ItemCollectionSelectable.test.jsx
  packages/terra-clinical-item-collection/tests/jest/ItemCollectionUtils.test.jsx
  packages/terra-clinical-item-collection/tests/jest/_ListView.test.jsx
  packages/terra-clinical-item-collection/tests/jest/_TableView.test.jsx
  packages/terra-clinical-item-collection/tests/jest/__snapshots__/Item.test.jsx.snap
  packages/terra-clinical-item-collection/tests/jest/__snapshots__/ItemCollection.test.jsx.snap
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/src/ItemComment.jsx
  packages/terra-clinical-item-display/src/ItemDisplay.jsx
  packages/terra-clinical-item-view/CHANGELOG.md
  packages/terra-clinical-item-view/src/terra-dev-site/doc/example/ItemViewAll.jsx
  packages/terra-clinical-item-view/src/terra-dev-site/doc/example/ItemViewAllTopAligned.jsx
  packages/terra-clinical-label-value-view/CHANGELOG.md
  packages/terra-clinical-label-value-view/src/LabelValueView.jsx
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/src/OnsetPicker.jsx
  packages/terra-clinical-onset-picker/src/OnsetUtils.js
  packages/terra-clinical-onset-picker/tests/jest/OnsetPicker.test.jsx
Labels: Small, tech-only

#346 Update babel preset Dependency
  .babelrc
  package.json
Labels: build-tools

#351 Label Value View Theming
  CONTRIBUTORS.md
  packages/terra-clinical-label-value-view/CHANGELOG.md
  packages/terra-clinical-label-value-view/src/LabelValueView.scss
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_no_value_input_is_provided[themed].1500x768.png
  packages/terra-clinical-label-value-view/tests/wdio/label-value-view-spec.js
Labels: label-value-view, theming

#352 Detail view theming
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/src/DetailView.scss
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_divided_Detail_View_with_provided_components[themed].1300x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/detail-view-spec.js
Labels: detail-view, theming

#353 Remove Base wrapper from test examples.
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/src/terra-dev-site/test/clinical-onset-picker/Default.test.jsx
  packages/terra-clinical-onset-picker/src/terra-dev-site/test/clinical-onset-picker/FiveYears.test.jsx
  packages/terra-clinical-onset-picker/src/terra-dev-site/test/clinical-onset-picker/LessMonth.test.jsx
  packages/terra-clinical-onset-picker/src/terra-dev-site/test/clinical-onset-picker/LessYear.test.jsx
Labels: tech-only

#357 Fix DetailView title contents from overflowing and not breaking
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/src/DetailView.scss
  packages/terra-clinical-detail-view/src/terra-dev-site/test/clinical-detail-view/DetailView/DetailViewOverflowText.test.jsx
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_with_overflowed_title_text[default].1000x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_with_overflowed_title_text[default].1300x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_with_overflowed_title_text[default].470x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_with_overflowed_title_text[default].622x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_with_overflowed_title_text[default].838x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/detail-view-spec.js
Labels: bug, detail-view

#361 ItemView Theming
  packages/terra-clinical-item-view/CHANGELOG.md
  packages/terra-clinical-item-view/src/ItemView.scss
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/chrome/with_one_column_displays[themed].1500x768.png
  packages/terra-clinical-item-view/tests/wdio/item-view-spec.js
Labels: item-view, theming

#354 Update base dependencies
  packages/terra-clinical-application/package.json
  packages/terra-clinical-detail-view/package.json
  packages/terra-clinical-header/package.json
  packages/terra-clinical-item-collection/package.json
  packages/terra-clinical-item-display/package.json
  packages/terra-clinical-item-view/package.json
  packages/terra-clinical-label-value-view/package.json
  packages/terra-clinical-onset-picker/package.json
Labels: tech-only

#362 ItemDisplay Theming
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/src/ItemDisplay.scss
  packages/terra-clinical-item-display/src/terra-dev-site/test/clinical-item-display/display/DisabledItemDisplay.test.jsx
  packages/terra-clinical-item-display/tests/wdio/__snapshots__/reference/chrome/disabled[default].470x768.png
  packages/terra-clinical-item-display/tests/wdio/__snapshots__/reference/chrome/disabled[default].838x768.png
  packages/terra-clinical-item-display/tests/wdio/__snapshots__/reference/chrome/disabled[themed].838x768.png
  packages/terra-clinical-item-display/tests/wdio/__snapshots__/reference/chrome/text_style[themed].838x768.png
  packages/terra-clinical-item-display/tests/wdio/item-display-spec.js
Labels: item-display, theming
