Repository cerner/terra-clinical, pull requests merged in 2018-10, with the labels that each got.

#404 [terra-clinical-label-value-view] - Enable color contrast rule
  packages/terra-clinical-label-value-view/CHANGELOG.md
  packages/terra-clinical-label-value-view/tests/wdio/label-value-view-spec.js
Labels: label-value-view, tech-only

#405 Update prop descriptions in ItemCollection.jsx and Item.jsx
  CONTRIBUTORS.md
  packages/terra-clinical-item-collection/CHANGELOG.md
  packages/terra-clinical-item-collection/README.md
  packages/terra-clinical-item-collection/src/Item.jsx
  packages/terra-clinical-item-collection/src/ItemCollection.jsx
Labels: documentation, item-collection

#409 Update .travis.yml
  .travis.yml
Labels: build-tools
