Repository cerner/terra-clinical, pull requests merged in 2018-08, with the labels that each got.

#377 Added theming variables in Item Comment
  CONTRIBUTORS.md
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/src/ItemComment.scss
  packages/terra-clinical-item-display/tests/wdio/__snapshots__/reference/en/chrome_large/item-comment-spec/Default[themed].png
  packages/terra-clinical-item-display/tests/wdio/__snapshots__/reference/en/chrome_medium/item-comment-spec/Default[default].png
  packages/terra-clinical-item-display/tests/wdio/__snapshots__/reference/en/chrome_medium/item-comment-spec/Text[default].png
  packages/terra-clinical-item-display/tests/wdio/__snapshots__/reference/en/chrome_tiny/item-comment-spec/Default[default].png
  packages/terra-clinical-item-display/tests/wdio/__snapshots__/reference/en/chrome_tiny/item-comment-spec/Text[default].png
  packages/terra-clinical-item-display/tests/wdio/item-comment-spec.js
Labels: item-display, theming

#379 [item-collection] Fix list role being missing
  packages/terra-clinical-item-collection/CHANGELOG.md
  packages/terra-clinical-item-collection/src/_ListView.jsx
  packages/terra-clinical-item-collection/tests/wdio/clinical-item-collection-spec.js
Labels: accessibility, bug, item-collection

#385 Update i18n Information
  README.md
Labels: documentation

#390 Switch badges to use badgen-service
  README.md
  packages/terra-clinical-application/README.md
  packages/terra-clinical-detail-view/README.md
  packages/terra-clinical-header/README.md
  packages/terra-clinical-item-collection/README.md
  packages/terra-clinical-item-display/README.md
  packages/terra-clinical-item-view/README.md
  packages/terra-clinical-label-value-view/README.md
  packages/terra-clinical-onset-picker/README.md
Labels: documentation, sync with terra-core
