Repository cerner/terra-clinical, pull requests merged in 2018-03, with the labels that each got.

#291 Remove props-table scripts.
  package.json
  packages/terra-clinical-action-header/package.json
  packages/terra-clinical-application/package.json
  packages/terra-clinical-detail-view/package.json
  packages/terra-clinical-error-view/package.json
  packages/terra-clinical-header/package.json
  packages/terra-clinical-item-collection/package.json
  packages/terra-clinical-item-display/package.json
  packages/terra-clinical-item-view/package.json
  packages/terra-clinical-label-value-view/package.json
  packages/terra-clinical-no-data-view/package.json
  packages/terra-clinical-onset-picker/package.json
Labels: tech-only

#292 Remove Manually Created Test Routes & Links
  package.json
  packages/terra-clinical-detail-view/tests/nightwatch/DetailList/DetailListTestRoutes.jsx
  packages/terra-clinical-detail-view/tests/nightwatch/DetailList/DetailListTests.jsx
  packages/terra-clinical-detail-view/tests/nightwatch/DetailListItem/ListItemTestRoutes.jsx
  packages/terra-clinical-detail-view/tests/nightwatch/DetailListItem/ListItemTests.jsx
  packages/terra-clinical-detail-view/tests/nightwatch/DetailView/DetailViewTestRoutes.jsx
  packages/terra-clinical-detail-view/tests/nightwatch/DetailView/DetailViewTests.jsx
  packages/terra-clinical-error-view/tests/nightwatch/ErrorViewTestRoutes.jsx
  packages/terra-clinical-error-view/tests/nightwatch/ErrorViewTests.jsx
  packages/terra-clinical-item-display/tests/nightwatch/comment/ItemCommentTestRoutes.jsx
  packages/terra-clinical-item-display/tests/nightwatch/comment/ItemCommentTests.jsx
  packages/terra-clinical-item-display/tests/nightwatch/display/ItemDisplayTestRoutes.jsx
  packages/terra-clinical-item-display/tests/nightwatch/display/ItemDisplayTests.jsx
  packages/terra-clinical-no-data-view/tests/nightwatch/NoDataViewTestRoutes.jsx
  packages/terra-clinical-no-data-view/tests/nightwatch/NoDataViewTests.jsx
  packages/terra-clinical-site/src/TestLinks.jsx
Labels: tech-only

#293 Update Site Dependency
  generatedComponentConfig.js
  package.json
  packages/terra-clinical-action-header/examples/test-examples/ActionHeaderTestRoutes.jsx
  packages/terra-clinical-action-header/examples/test-examples/ActionHeaderTests.jsx
  packages/terra-clinical-action-header/examples/test-examples/BackActionHeader.example.jsx
  packages/terra-clinical-action-header/examples/test-examples/BackCloseActionHeader.example.jsx
  packages/terra-clinical-action-header/examples/test-examples/ChildrenActionHeader.example.jsx
  packages/terra-clinical-action-header/examples/test-examples/CloseActionHeader.example.jsx
  packages/terra-clinical-action-header/examples/test-examples/DefaultActionHeader.example.jsx
  packages/terra-clinical-action-header/examples/test-examples/KeepCloseButtonActionHeader.example.jsx
  packages/terra-clinical-action-header/examples/test-examples/MaximizeActionHeader.example.jsx
  packages/terra-clinical-action-header/examples/test-examples/MinimizeActionHeader.example.jsx
  packages/terra-clinical-action-header/examples/test-examples/PreviousNextActionHeader.example.jsx
  packages/terra-clinical-action-header/examples/test-examples/TitleActionHeader.example.jsx
  packages/terra-clinical-application/examples/test-examples/DefaultApplication.example.jsx
  packages/terra-clinical-application/examples/test-examples/NoAppDelegateApplication.example.jsx
  packages/terra-clinical-header/examples/test-examples/DefaultHeader.example.jsx
  packages/terra-clinical-header/examples/test-examples/LeftAndRightContentHeader.example.jsx
  packages/terra-clinical-header/examples/test-examples/LeftAndRightContentSubheader.example.jsx
  packages/terra-clinical-header/examples/test-examples/LeftContentHeader.example.jsx
  packages/terra-clinical-header/examples/test-examples/LongTitleAndContentHeader.example.jsx
  packages/terra-clinical-header/examples/test-examples/LongTitleHeader.example.jsx
  packages/terra-clinical-header/examples/test-examples/NoTitleRightContentHeader.example.jsx
  packages/terra-clinical-header/examples/test-examples/RightContentHeader.example.jsx
  packages/terra-clinical-header/examples/test-examples/TitleHeader.example.jsx
  packages/terra-clinical-item-collection/examples/test-examples/ItemCollectionAllElements.example.jsx
  packages/terra-clinical-item-collection/examples/test-examples/ItemCollectionItemStyles.example.jsx
  packages/terra-clinical-item-collection/examples/test-examples/ItemCollectionListStyles.example.jsx
  packages/terra-clinical-item-collection/examples/test-examples/ItemCollectionSelectable.example.jsx
  packages/terra-clinical-item-collection/examples/test-examples/ItemCollectionTableStyles.example.jsx
  packages/terra-clinical-item-collection/examples/test-examples/ItemCollectionVaryingItems.example.jsx
  packages/terra-clinical-item-view/examples/test-examples/AccessoryItemView.example.jsx
  packages/terra-clinical-item-view/examples/test-examples/CommentItemView.example.jsx
  packages/terra-clinical-item-view/examples/test-examples/DefaultItemView.example.jsx
  packages/terra-clinical-item-view/examples/test-examples/DisplaysItemView.example.jsx
  packages/terra-clinical-item-view/examples/test-examples/OverflowDisplaysItemView.example.jsx
  packages/terra-clinical-label-value-view/examples/test-examples/DefaultLabelValueView.example.jsx
  packages/terra-clinical-label-value-view/examples/test-examples/MultipleValueLabelValueView.example.jsx
  packages/terra-clinical-label-value-view/examples/test-examples/NodeValueLabelValueView.example.jsx
  packages/terra-clinical-label-value-view/examples/test-examples/TextValueLabelValueView.example.jsx
  packages/terra-clinical-onset-picker/examples/test-examples/Default.example.jsx
  packages/terra-clinical-onset-picker/examples/test-examples/FiveYears.example.jsx
  packages/terra-clinical-onset-picker/examples/test-examples/LessMonth.example.jsx
  packages/terra-clinical-onset-picker/examples/test-examples/LessYear.example.jsx
Labels: tech-only

#286 Add wdio tests for terra-clinical-detail-view
  generatedComponentConfig.js
  packages/terra-clinical-detail-view/examples/test-examples/DetailList/LargeItemList.example.jsx
  packages/terra-clinical-detail-view/examples/test-examples/DetailList/NormalItemList.example.jsx
  packages/terra-clinical-detail-view/examples/test-examples/DetailListItem/DefaultListItem.example.jsx
  packages/terra-clinical-detail-view/examples/test-examples/DetailView/DetailViewDivided.example.jsx
  packages/terra-clinical-detail-view/examples/test-examples/DetailView/DetailViewNoDivider.example.jsx
  packages/terra-clinical-detail-view/package.json
  packages/terra-clinical-detail-view/tests/nightwatch/DetailList/detail-list-spec.js
  packages/terra-clinical-detail-view/tests/nightwatch/DetailListItem/detail-list-item-spec.js
  packages/terra-clinical-detail-view/tests/nightwatch/DetailView/detail-view-spec.js
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_large_list[default].1000x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_large_list[default].1300x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_large_list[default].470x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_large_list[default].622x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_large_list[default].838x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_list[default].1000x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_list[default].1300x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_list[default].1500x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_list[default].470x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_list[default].622x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_list[default].838x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/detail-list-spec.js
  packages/terra-clinical-detail-view/tests/wdio/DetailListItem/__snapshots__/reference/chrome/Displays_a_Detail_List_Item_as_expected[default].1000x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailListItem/__snapshots__/reference/chrome/Displays_a_Detail_List_Item_as_expected[default].1300x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailListItem/__snapshots__/reference/chrome/Displays_a_Detail_List_Item_as_expected[default].1500x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailListItem/__snapshots__/reference/chrome/Displays_a_Detail_List_Item_as_expected[default].470x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailListItem/__snapshots__/reference/chrome/Displays_a_Detail_List_Item_as_expected[default].622x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailListItem/__snapshots__/reference/chrome/Displays_a_Detail_List_Item_as_expected[default].838x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailListItem/detail-list-item-spec.js
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_that_is_not_divided_with_provided_components[default].1000x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_that_is_not_divided_with_provided_components[default].1300x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_that_is_not_divided_with_provided_components[default].1500x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_that_is_not_divided_with_provided_components[default].470x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_that_is_not_divided_with_provided_components[default].622x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_that_is_not_divided_with_provided_components[default].838x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_divided_Detail_View_with_provided_components[default].1000x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_divided_Detail_View_with_provided_components[default].1300x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_divided_Detail_View_with_provided_components[default].470x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_divided_Detail_View_with_provided_components[default].622x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_divided_Detail_View_with_provided_components[default].838x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/detail-view-spec.js
Labels: Small, detail-view, testing

#301 Add wdio tests for terra-clinical-application
  packages/terra-clinical-application/package.json
  packages/terra-clinical-application/tests/nightwatch/application-spec.js
  packages/terra-clinical-application/tests/wdio/__snapshots__/reference/chrome/Renders_the_Application_with_provided_AppDelegate[default].1000x768.png
  packages/terra-clinical-application/tests/wdio/__snapshots__/reference/chrome/Renders_the_Application_with_provided_AppDelegate[default].1300x768.png
  packages/terra-clinical-application/tests/wdio/__snapshots__/reference/chrome/Renders_the_Application_with_provided_AppDelegate[default].1500x768.png
  packages/terra-clinical-application/tests/wdio/__snapshots__/reference/chrome/Renders_the_Application_with_provided_AppDelegate[default].470x768.png
  packages/terra-clinical-application/tests/wdio/__snapshots__/reference/chrome/Renders_the_Application_with_provided_AppDelegate[default].622x768.png
  packages/terra-clinical-application/tests/wdio/__snapshots__/reference/chrome/Renders_the_Application_with_provided_AppDelegate[default].838x768.png
  packages/terra-clinical-application/tests/wdio/__snapshots__/reference/chrome/Renders_the_Application_without_provided_AppDelegate[default].1000x768.png
  packages/terra-clinical-application/tests/wdio/__snapshots__/reference/chrome/Renders_the_Application_without_provided_AppDelegate[default].1300x768.png
  packages/terra-clinical-application/tests/wdio/__snapshots__/reference/chrome/Renders_the_Application_without_provided_AppDelegate[default].1500x768.png
  packages/terra-clinical-application/tests/wdio/__snapshots__/reference/chrome/Renders_the_Application_without_provided_AppDelegate[default].470x768.png
  packages/terra-clinical-application/tests/wdio/__snapshots__/reference/chrome/Renders_the_Application_without_provided_AppDelegate[default].622x768.png
  packages/terra-clinical-application/tests/wdio/__snapshots__/reference/chrome/Renders_the_Application_without_provided_AppDelegate[default].838x768.png
  packages/terra-clinical-application/tests/wdio/application-spec.js
Labels: Small, application, testing

#298 [Item Display] Move test examples
  generatedComponentConfig.js
  package.json
  packages/terra-clinical-item-display/examples/test-examples/comment/DefaultItemComment.example.jsx
  packages/terra-clinical-item-display/examples/test-examples/comment/TextItemComment.example.jsx
  packages/terra-clinical-item-display/examples/test-examples/display/DefaultItemDisplay.example.jsx
  packages/terra-clinical-item-display/examples/test-examples/display/DisabledItemDisplay.example.jsx
  packages/terra-clinical-item-display/examples/test-examples/display/IconItemDisplay.example.jsx
  packages/terra-clinical-item-display/examples/test-examples/display/ScalingIconItemDisplay.example.jsx
  packages/terra-clinical-item-display/examples/test-examples/display/TextStyleItemDisplay.example.jsx
  packages/terra-clinical-item-display/tests/nightwatch/item-comment-spec.js
  packages/terra-clinical-item-display/tests/nightwatch/item-display-spec.js
Labels: Small

#294 Add component names to Props Table titles
  CONTRIBUTORS.md
  packages/terra-clinical-site/CHANGELOG.md
  packages/terra-clinical-site/src/examples/action-header/Index.jsx
  packages/terra-clinical-site/src/examples/application/Index.jsx
  packages/terra-clinical-site/src/examples/detail-view/Index.jsx
  packages/terra-clinical-site/src/examples/error-view/Index.jsx
  packages/terra-clinical-site/src/examples/header/Index.jsx
  packages/terra-clinical-site/src/examples/item-display/Index.jsx
  packages/terra-clinical-site/src/examples/item-view/Index.jsx
  packages/terra-clinical-site/src/examples/label-value-view/Index.jsx
  packages/terra-clinical-site/src/examples/no-data-view/Index.jsx
  packages/terra-clinical-site/src/examples/onset-picker/Index.jsx
Labels: Small, site

#289 Add webdriver.io to terra-clinical-header
  packages/terra-clinical-header/package.json
  packages/terra-clinical-header/tests/nightwatch/header-spec.js
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Default_header_with_no_content[default].1000x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Default_header_with_no_content[default].1300x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Default_header_with_no_content[default].1500x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Default_header_with_no_content[default].470x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Default_header_with_no_content[default].622x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Default_header_with_no_content[default].838x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_long_title_that_truncates[default].1000x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_long_title_that_truncates[default].1300x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_long_title_that_truncates[default].1500x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_long_title_that_truncates[default].470x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_long_title_that_truncates[default].622x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_long_title_that_truncates[default].838x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_long_title_that_truncates_with_content[default].1000x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_long_title_that_truncates_with_content[default].1300x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_long_title_that_truncates_with_content[default].1500x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_long_title_that_truncates_with_content[default].470x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_long_title_that_truncates_with_content[default].622x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_long_title_that_truncates_with_content[default].838x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_title_only[default].1000x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_title_only[default].1300x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_title_only[default].1500x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_title_only[default].470x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_title_only[default].622x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_a_title_only[default].838x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_both_sides[default].1000x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_both_sides[default].1300x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_both_sides[default].1500x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_both_sides[default].470x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_both_sides[default].622x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_both_sides[default].838x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_the_left[default].1000x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_the_left[default].1300x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_the_left[default].1500x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_the_left[default].470x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_the_left[default].622x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_the_left[default].838x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_the_right[default].1000x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_the_right[default].1300x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_the_right[default].1500x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_the_right[default].470x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_the_right[default].622x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_content_on_the_right[default].838x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_no_title_and_content_on_the_right[default].1000x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_no_title_and_content_on_the_right[default].1300x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_no_title_and_content_on_the_right[default].1500x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_no_title_and_content_on_the_right[default].470x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_no_title_and_content_on_the_right[default].622x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Header_with_no_title_and_content_on_the_right[default].838x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Subsection_header_with_content_on_both_sides[default].1000x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Subsection_header_with_content_on_both_sides[default].1300x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Subsection_header_with_content_on_both_sides[default].1500x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Subsection_header_with_content_on_both_sides[default].470x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Subsection_header_with_content_on_both_sides[default].622x768.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/chrome/Subsection_header_with_content_on_both_sides[default].838x768.png
  packages/terra-clinical-header/tests/wdio/header-spec.js
Labels: Small, header, testing

#307 Add wdio tests for terra-clinical-label-value-view
  packages/terra-clinical-label-value-view/package.json
  packages/terra-clinical-label-value-view/tests/nightwatch/label-value-view-spec.js
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_node_input_is_provided[default].1000x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_node_input_is_provided[default].1300x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_node_input_is_provided[default].1500x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_node_input_is_provided[default].470x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_node_input_is_provided[default].622x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_node_input_is_provided[default].838x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_text_input_is_provided[default].1000x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_text_input_is_provided[default].1300x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_text_input_is_provided[default].1500x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_text_input_is_provided[default].470x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_text_input_is_provided[default].622x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_text_input_is_provided[default].838x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_no_value_input_is_provided[default].1000x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_no_value_input_is_provided[default].1300x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_no_value_input_is_provided[default].1500x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_no_value_input_is_provided[default].470x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_no_value_input_is_provided[default].622x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_no_value_input_is_provided[default].838x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_text_and_node_inputs_are_provided[default].1000x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_text_and_node_inputs_are_provided[default].1300x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_text_and_node_inputs_are_provided[default].1500x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_text_and_node_inputs_are_provided[default].470x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_text_and_node_inputs_are_provided[default].622x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_text_and_node_inputs_are_provided[default].838x768.png
  packages/terra-clinical-label-value-view/tests/wdio/label-value-view-spec.js
Labels: Small, label-value-view, testing

#309 Add webdriver.io tests and remove nightwatch tests.
  nightwatch.conf.js
  package.json
  packages/terra-clinical-error-view/package.json
  packages/terra-clinical-item-display/package.json
  packages/terra-clinical-item-display/tests/nightwatch/item-comment-spec.js
  packages/terra-clinical-item-display/tests/nightwatch/item-display-spec.js
  packages/terra-clinical-no-data-view/package.json
  packages/terra-clinical-no-data-view/tests/nightwatch/no-data-view-spec.js
Labels: Small, error-view, item-display, no-data-view, testing

#311 Auto accept clean all command
  package.json
Labels: Small, tech-only

#302 Label-Value-View updating text size and examples
  packages/terra-clinical-label-value-view/CHANGELOG.md
  packages/terra-clinical-label-value-view/src/LabelValueView.scss
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_node_input_is_provided[default].1000x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_node_input_is_provided[default].1300x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_node_input_is_provided[default].1500x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_node_input_is_provided[default].470x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_node_input_is_provided[default].622x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_node_input_is_provided[default].838x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_text_input_is_provided[default].1000x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_text_input_is_provided[default].1300x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_text_input_is_provided[default].1500x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_text_input_is_provided[default].470x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_text_input_is_provided[default].622x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_a_text_input_is_provided[default].838x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_no_value_input_is_provided[default].1000x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_no_value_input_is_provided[default].1300x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_no_value_input_is_provided[default].1500x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_no_value_input_is_provided[default].470x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_no_value_input_is_provided[default].622x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_no_value_input_is_provided[default].838x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_text_and_node_inputs_are_provided[default].1000x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_text_and_node_inputs_are_provided[default].1300x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_text_and_node_inputs_are_provided[default].1500x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_text_and_node_inputs_are_provided[default].470x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_text_and_node_inputs_are_provided[default].622x768.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/chrome/when_text_and_node_inputs_are_provided[default].838x768.png
  packages/terra-clinical-site/CHANGELOG.md
  packages/terra-clinical-site/src/examples/label-value-view/Index.jsx
  packages/terra-clinical-site/src/examples/label-value-view/LabelValueViewNode.jsx
  packages/terra-clinical-site/src/examples/label-value-view/LabelValueViewNodeCustom.jsx
  packages/terra-clinical-site/src/examples/label-value-view/LabelValueViewText.jsx
Labels: label-value-view

#297 Detail-View updating text colors and sizes
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/src/DetailList.scss
  packages/terra-clinical-detail-view/src/DetailListItem.scss
  packages/terra-clinical-detail-view/src/DetailView.scss
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_large_list[default].1000x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_large_list[default].1300x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_large_list[default].470x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_large_list[default].622x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_large_list[default].838x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_list[default].1000x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_list[default].1300x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_list[default].470x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_list[default].622x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailList/__snapshots__/reference/chrome/Displays_a_default_Detail_List_with_a_title_and_list[default].838x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailListItem/__snapshots__/reference/chrome/Displays_a_Detail_List_Item_as_expected[default].1000x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailListItem/__snapshots__/reference/chrome/Displays_a_Detail_List_Item_as_expected[default].1300x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailListItem/__snapshots__/reference/chrome/Displays_a_Detail_List_Item_as_expected[default].470x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailListItem/__snapshots__/reference/chrome/Displays_a_Detail_List_Item_as_expected[default].622x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailListItem/__snapshots__/reference/chrome/Displays_a_Detail_List_Item_as_expected[default].838x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_that_is_not_divided_with_provided_components[default].1000x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_that_is_not_divided_with_provided_components[default].1300x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_that_is_not_divided_with_provided_components[default].1500x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_that_is_not_divided_with_provided_components[default].470x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_that_is_not_divided_with_provided_components[default].622x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_Detail_View_that_is_not_divided_with_provided_components[default].838x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_divided_Detail_View_with_provided_components[default].1000x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_divided_Detail_View_with_provided_components[default].1300x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_divided_Detail_View_with_provided_components[default].470x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_divided_Detail_View_with_provided_components[default].622x768.png
  packages/terra-clinical-detail-view/tests/wdio/DetailView/__snapshots__/reference/chrome/Displays_a_divided_Detail_View_with_provided_components[default].838x768.png
  packages/terra-clinical-site/CHANGELOG.md
  packages/terra-clinical-site/src/examples/detail-view/DetailViewDivided.jsx
  packages/terra-clinical-site/src/examples/detail-view/DetailViewNoDivider.jsx
  packages/terra-clinical-site/src/examples/detail-view/Index.jsx
Labels: detail-view

#314 Test out dev site in clinical.
  package.json
  site.config.js
Labels: Small, tech-only
