Repository cerner/terra-clinical, pull requests merged in 2018-07, with the labels that each got.

#358 Use Terra's Config Modules
  .eslintrc
  .stylelintrc
  package.json
  packages/terra-clinical-application/CHANGELOG.md
  packages/terra-clinical-application/src/terra-dev-site/doc/clinicalApplication.doc.jsx
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/clinicalDetailView.doc.jsx
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/src/terra-dev-site/doc/clinicalHeader.doc.jsx
  packages/terra-clinical-item-collection/CHANGELOG.md
  packages/terra-clinical-item-collection/src/terra-dev-site/doc/clinicalItemCollection.doc.jsx
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/src/terra-dev-site/doc/clinicalItemDisplay.doc.jsx
  packages/terra-clinical-item-view/CHANGELOG.md
  packages/terra-clinical-item-view/src/terra-dev-site/doc/clinicalItemView.doc.jsx
  packages/terra-clinical-label-value-view/CHANGELOG.md
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/clinicalLabelValueView.doc.jsx
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/src/terra-dev-site/doc/ClinicalOnsetPicker.doc.jsx
Labels: build-tools

#368 Added color variables to Header
  CONTRIBUTORS.md
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/src/Header.scss
Labels: enhancement, header, theming

#369 Remove CSS 'initial' value and fix invalid value
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/src/Header.scss
Labels: bug, header

#376 Update Jest Config for Windows
  jestconfig.js
Labels: build-tools

#380 Bump responsive element version
  packages/terra-clinical-item-collection/CHANGELOG.md
  packages/terra-clinical-item-collection/package.json
  packages/terra-clinical-item-collection/src/ItemCollection.jsx
  packages/terra-clinical-item-collection/tests/jest/ItemCollection.test.jsx
  packages/terra-clinical-item-collection/tests/jest/__snapshots__/ItemCollection.test.jsx.snap
Labels: item-collection

#382 Match Node Env in Heroku to Served Assets
  app.json
Labels: build-tools, sync with terra-core
