Repository cerner/terra-clinical, pull requests merged in 2019-12, with the labels that each got.

#592 Label `intl` Prop as Private
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/src/DataGrid.jsx
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/src/OnsetPicker.jsx
  packages/terra-clinical-onset-picker/tests/jest/__snapshots__/OnsetPicker.test.jsx.snap
Labels: data-grid, docs, onset-picker

#590 [terra-clinical-onset-picker] Min width of year dropdown increased to fix wrapping issue
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/src/OnsetPicker.module.scss
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_enormous/onset-spec/month-year_granularity[default].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_enormous/onset-spec/month-year_granularity[month_option_selected].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_enormous/onset-spec/onsetOnChange_callback[granularity_changed].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_enormous/onset-spec/onsetOnChange_callback[month_select_changed].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_enormous/onset-spec/onsetOnChange_callback[year_select_changed].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_enormous/onset-spec/year_granularity[default].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_enormous/onset-spec/year_granularity[year_option_selected].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_enormous/onset-spec/year_granularity[year_options].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/onset-spec/month-year_granularity[default].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/onset-spec/month-year_granularity[month_option_selected].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/onset-spec/month-year_granularity[month_options].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/onset-spec/onsetOnChange_callback[granularity_changed].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/onset-spec/onsetOnChange_callback[month_select_changed].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/onset-spec/onsetOnChange_callback[year_select_changed].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/onset-spec/year_granularity[default].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/onset-spec/year_granularity[year_option_selected].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/onset-spec/year_granularity[year_options].png
Labels: bug-fix, onset-picker, ⭐️ UX Reviewed

#595 Consume New Docker Images
  .travis.yml
  Dockerfile
  docker-compose.yml
Labels: build-tools

#603 Remove yarn ref in docs
  packages/terra-clinical-item-collection/CHANGELOG.md
  packages/terra-clinical-item-collection/docs/README.md
Labels: docs
