Repository cerner/terra-clinical, pull requests merged in 2019-09, with the labels that each got.

#550 [terra-clinical-header] Fixes alignment issue for clinical header
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/src/Header.scss
Labels: header

#551 [terra-datagrid] Fixed "resizeobserver loop limit exceeded" error
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/src/DataGrid.jsx
Labels: data-grid

#571 Add en-CA translations.
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/translations/en-CA.json
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/package.json
  packages/terra-clinical-onset-picker/translations/en-CA.json
Labels: translations added

#573 Remove un-used keycodes file
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/src/utils/keycodes.js
Labels: tech-only

#572 Remove terra-i18n as a dependency since it is not being used or needed.
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/package.json
Labels: dependency-update

#565 [onset-picker] Unknown precision fixed to return correct values.
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/src/OnsetPicker.jsx
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_enormous/onset-spec/onsetOnChange_callback[precision_changed].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_medium/onset-spec/onsetOnChange_callback[precision_changed].png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/en/chrome_tiny/onset-spec/onsetOnChange_callback[precision_changed].png
Labels: bug-fix, onset-picker
