Repository cerner/terra-clinical, pull requests merged in 2019-02, with the labels that each got.

#456 bump terra-dev-site and stylelint-config-terra dependencies
  package.json
Labels: dependency-update

#459 [terra-clinical-data-grid] Updating unmount implementation to cancel any pending animation frames
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/src/DataGrid.jsx
Labels: data-grid, tech-only

#466 Add en au translations
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/translations/en-AU.json
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/translations/en-AU.json
Labels: data-grid, onset-picker, translations

#462 Perform Audit for Vulnerabilities
  CONTRIBUTORS.md
  package.json
Labels: dependency-update
