Repository cerner/terra-clinical, pull requests merged in 2019-07, with the labels that each got.

#522 Resolve known WCAG 2.1 AA issues
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/src/DataGrid.jsx
  packages/terra-clinical-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-clinical-data-grid/translations/ar.json
  packages/terra-clinical-data-grid/translations/de.json
  packages/terra-clinical-data-grid/translations/en-AU.json
  packages/terra-clinical-data-grid/translations/en-GB.json
  packages/terra-clinical-data-grid/translations/en-US.json
  packages/terra-clinical-data-grid/translations/en.json
  packages/terra-clinical-data-grid/translations/es-ES.json
  packages/terra-clinical-data-grid/translations/es-US.json
  packages/terra-clinical-data-grid/translations/es.json
  packages/terra-clinical-data-grid/translations/fi-FI.json
  packages/terra-clinical-data-grid/translations/fr-FR.json
  packages/terra-clinical-data-grid/translations/fr.json
  packages/terra-clinical-data-grid/translations/nl-BE.json
  packages/terra-clinical-data-grid/translations/nl.json
  packages/terra-clinical-data-grid/translations/pt-BR.json
  packages/terra-clinical-data-grid/translations/pt.json
  packages/terra-clinical-data-grid/translations/sv-SE.json
  packages/terra-clinical-data-grid/translations/sv.json
Labels: accessibility, data-grid, translations added

#521 [terra-clinical-detail-view] Fixed IE10 wrapping issue for label-value-views
  CONTRIBUTORS.md
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/src/DetailListItem.scss
Labels: bug-fix, detail-view

#529 [terra-clinical-header] Update styles
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/src/Header.scss
Labels: header

#533 Update package.json
  package.json
Labels: dependency-update

#532 Add ability to set height on specific rows
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/docs/README.md
  packages/terra-clinical-data-grid/src/DataGrid.jsx
  packages/terra-clinical-data-grid/src/proptypes/rowDataShape.js
  packages/terra-clinical-data-grid/src/subcomponents/Cell.jsx
  packages/terra-clinical-data-grid/src/subcomponents/HeaderCell.jsx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/Datagrid.1.doc.jsx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/Datagrid.jsx
  packages/terra-clinical-data-grid/src/terra-dev-site/test/clinical-data-grid/CustomHeightDataGrid.test.jsx
  packages/terra-clinical-data-grid/tests/jest/DataGrid.test.jsx
  packages/terra-clinical-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-clinical-data-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/data-grid-spec/with_custom_row-header_heights[default].png
  packages/terra-clinical-data-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/data-grid-spec/with_custom_row-header_heights[default].png
Labels: data-grid, enhancement

#537 Mixin pattern fix
  CONTRIBUTORS.md
  package.json
Labels: build-tools

#528 Removes legacy react contexttypes and uses formatmessage from react-intl.
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/src/OnsetPicker.jsx
  packages/terra-clinical-onset-picker/tests/jest/OnsetPicker.test.jsx
Labels: Intl
