Repository cerner/terra-clinical, pull requests merged in 2020-04, with the labels that each got.

#638 Update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs

#642 Condense wdio config
  config/wdio/clinical-lowlight-theme/wdio.conf.js
  package.json
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/clinical-lowlight-wdio.conf.js
  packages/terra-clinical-data-grid/package.json
  packages/terra-clinical-data-grid/wdio.conf.js
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/clinical-lowlight-wdio.conf.js
  packages/terra-clinical-detail-view/package.json
  packages/terra-clinical-detail-view/wdio.conf.js
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/clinical-lowlight-wdio.conf.js
  packages/terra-clinical-header/package.json
  packages/terra-clinical-header/wdio.conf.js
  packages/terra-clinical-item-collection/CHANGELOG.md
  packages/terra-clinical-item-collection/package.json
  packages/terra-clinical-item-collection/wdio.conf.js
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/clinical-lowlight-wdio.conf.js
  packages/terra-clinical-item-display/package.json
  packages/terra-clinical-item-display/wdio.conf.js
  packages/terra-clinical-item-view/CHANGELOG.md
  packages/terra-clinical-item-view/clinical-lowlight-wdio.conf.js
  packages/terra-clinical-item-view/package.json
  packages/terra-clinical-item-view/wdio.conf.js
  packages/terra-clinical-label-value-view/CHANGELOG.md
  packages/terra-clinical-label-value-view/clinical-lowlight-wdio.conf.js
  packages/terra-clinical-label-value-view/package.json
  packages/terra-clinical-label-value-view/wdio.conf.js
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/clinical-lowlight-wdio.conf.js
  packages/terra-clinical-onset-picker/package.json
  packages/terra-clinical-onset-picker/wdio.conf.js
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/package.json
  packages/terra-clinical-result/wdio.conf.js
  wdio.conf.js
Labels: build-tools

#649 Fix low light clinical header
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/src/clinical-lowlight-theme/Header.module.scss
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/header-spec/Header_with_a_long_title_that_truncates[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/header-spec/Header_with_a_long_title_that_truncates_with_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/header-spec/Header_with_a_title_only[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/header-spec/Header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/header-spec/Header_with_content_on_the_left[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/header-spec/Header_with_content_on_the_right[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/header-spec/Header_with_no_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/header-spec/Header_with_no_title_and_content_on_the_right[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/header-spec/Subsection_header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-spec/Header_with_a_long_title_that_truncates[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-spec/Header_with_a_long_title_that_truncates_with_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-spec/Header_with_a_title_only[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-spec/Header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-spec/Header_with_content_on_the_left[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-spec/Header_with_content_on_the_right[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-spec/Header_with_no_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-spec/Header_with_no_title_and_content_on_the_right[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-spec/Subsection_header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/header-spec/Header_with_a_long_title_that_truncates[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/header-spec/Header_with_a_long_title_that_truncates_with_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/header-spec/Header_with_a_title_only[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/header-spec/Header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/header-spec/Header_with_content_on_the_left[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/header-spec/Header_with_content_on_the_right[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/header-spec/Header_with_no_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/header-spec/Header_with_no_title_and_content_on_the_right[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/header-spec/Subsection_header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/header-spec/Header_with_a_long_title_that_truncates[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/header-spec/Header_with_a_long_title_that_truncates_with_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/header-spec/Header_with_a_title_only[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/header-spec/Header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/header-spec/Header_with_content_on_the_left[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/header-spec/Header_with_content_on_the_right[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/header-spec/Header_with_no_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/header-spec/Header_with_no_title_and_content_on_the_right[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/header-spec/Subsection_header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/header-spec/Header_with_a_long_title_that_truncates[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/header-spec/Header_with_a_long_title_that_truncates_with_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/header-spec/Header_with_a_title_only[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/header-spec/Header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/header-spec/Header_with_content_on_the_left[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/header-spec/Header_with_content_on_the_right[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/header-spec/Header_with_no_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/header-spec/Header_with_no_title_and_content_on_the_right[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/header-spec/Subsection_header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/Header_with_a_long_title_that_truncates[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/Header_with_a_long_title_that_truncates_with_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/Header_with_a_title_only[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/Header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/Header_with_content_on_the_left[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/Header_with_content_on_the_right[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/Header_with_no_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/Header_with_no_title_and_content_on_the_right[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/Subsection_header_with_content_on_both_sides[default].png
Labels: bug-fix, header, ⭐️ UX Reviewed

#639 [terra-clinical-result] Fixing entered in error issues with flowsheetcell
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/src/flowsheet-result-cell/FlowsheetResultCell.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/TestResults.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/flowsheet-result-cell/EnteredInErrorFlowsheetResultCell.test.jsx
  packages/terra-clinical-result/tests/jest/flowsheet-result-cell/FlowsheetResultCell.test.jsx
  packages/terra-clinical-result/tests/jest/flowsheet-result-cell/__snapshots__/FlowsheetResultCell.test.jsx.snap
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-result-cell-spec/entered_in_error[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/flowsheet-result-cell-spec/entered_in_error[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-result-cell-spec/entered_in_error[default].png
  packages/terra-clinical-result/tests/wdio/flowsheet-result-cell-spec.js
Labels: bug-fix, result, ⭐️ Functionally Reviewed, ⭐️ UX Reviewed

#644 [terra-clinical-item-collection][terra-clinical-item-display] Accessibility failures
  package.json
  packages/terra-clinical-item-collection/CHANGELOG.md
  packages/terra-clinical-item-collection/src/ItemCollection.jsx
  packages/terra-clinical-item-collection/src/_ListView.jsx
  packages/terra-clinical-item-collection/src/_TableView.jsx
  packages/terra-clinical-item-collection/src/terra-dev-site/test/clinical-item-collection/ItemCollectionAllElements.test.jsx
  packages/terra-clinical-item-collection/src/terra-dev-site/test/clinical-item-collection/ItemCollectionItemStyles.test.jsx
  packages/terra-clinical-item-collection/src/terra-dev-site/test/clinical-item-collection/ItemCollectionListStyles.test.jsx
  packages/terra-clinical-item-collection/src/terra-dev-site/test/clinical-item-collection/ItemCollectionSelectable.test.jsx
  packages/terra-clinical-item-collection/src/terra-dev-site/test/clinical-item-collection/ItemCollectionTableStyles.test.jsx
  packages/terra-clinical-item-collection/src/terra-dev-site/test/clinical-item-collection/ItemCollectionVaryingItems.test.jsx
  packages/terra-clinical-item-collection/tests/jest/ItemCollection.test.jsx
  packages/terra-clinical-item-collection/tests/jest/__snapshots__/ItemCollection.test.jsx.snap
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_enormous/clinical-item-collection-spec/Displays_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_enormous/clinical-item-collection-spec/Returns_child_key_for_ENTER_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_enormous/clinical-item-collection-spec/Returns_child_key_for_SPACE_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_enormous/clinical-item-collection-spec/Returns_child_key_for_click_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_huge/clinical-item-collection-spec/Displays_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_huge/clinical-item-collection-spec/Returns_child_key_for_ENTER_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_huge/clinical-item-collection-spec/Returns_child_key_for_SPACE_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_huge/clinical-item-collection-spec/Returns_child_key_for_click_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_large/clinical-item-collection-spec/Displays_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_large/clinical-item-collection-spec/Returns_child_key_for_ENTER_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_large/clinical-item-collection-spec/Returns_child_key_for_SPACE_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_large/clinical-item-collection-spec/Returns_child_key_for_click_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_medium/clinical-item-collection-spec/Displays_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_medium/clinical-item-collection-spec/Returns_child_key_for_ENTER_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_medium/clinical-item-collection-spec/Returns_child_key_for_SPACE_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_medium/clinical-item-collection-spec/Returns_child_key_for_click_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_small/clinical-item-collection-spec/Displays_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_small/clinical-item-collection-spec/Returns_child_key_for_ENTER_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_small/clinical-item-collection-spec/Returns_child_key_for_SPACE_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_small/clinical-item-collection-spec/Returns_child_key_for_click_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_tiny/clinical-item-collection-spec/Displays_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_tiny/clinical-item-collection-spec/Returns_child_key_for_ENTER_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_tiny/clinical-item-collection-spec/Returns_child_key_for_SPACE_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-collection/tests/wdio/__snapshots__/reference/en/chrome_tiny/clinical-item-collection-spec/Returns_child_key_for_click_when_onSelect_is_given_to_a_selectable_item_collection[default].png
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/src/ItemDisplay.jsx
  packages/terra-clinical-item-display/tests/jest/__snapshots__/ItemDisplay.test.jsx.snap
Labels: bug-fix, item-collection, item-display

#655 [terra-clinical-header] lowlight variable fix
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/src/clinical-lowlight-theme/Header.module.scss
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/header-spec/Header_with_a_long_title_that_truncates[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/header-spec/Header_with_a_long_title_that_truncates_with_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/header-spec/Subsection_header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-spec/Header_with_a_long_title_that_truncates[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-spec/Header_with_a_long_title_that_truncates_with_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-spec/Subsection_header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/header-spec/Header_with_a_long_title_that_truncates[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/header-spec/Header_with_a_long_title_that_truncates_with_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/header-spec/Header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/header-spec/Subsection_header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/header-spec/Header_with_a_long_title_that_truncates[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/header-spec/Header_with_a_long_title_that_truncates_with_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/header-spec/Header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/header-spec/Subsection_header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/header-spec/Header_with_a_long_title_that_truncates[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/header-spec/Header_with_a_long_title_that_truncates_with_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/header-spec/Header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/header-spec/Subsection_header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/Header_with_a_long_title_that_truncates[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/Header_with_a_long_title_that_truncates_with_content[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/Header_with_content_on_both_sides[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/Header_with_content_on_the_left[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/Header_with_content_on_the_right[default].png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/Subsection_header_with_content_on_both_sides[default].png
Labels: Ready for UX review, bug-fix, header

#653 [terra-clinical] Updated docs to add source code badge
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/package.json
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/clinicalDataGrid.1.doc.mdx
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/package.json
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/clinical-detail-view/ClinicalDetailView.1.doc.mdx
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/src/terra-dev-site/doc/clinical-header/clinicalHeader.1.doc.mdx
  packages/terra-clinical-item-collection/CHANGELOG.md
  packages/terra-clinical-item-collection/package.json
  packages/terra-clinical-item-collection/src/terra-dev-site/doc/clinical-item-collection/clinicalItemCollection.1.doc.mdx
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/package.json
  packages/terra-clinical-item-display/src/terra-dev-site/doc/clinical-item-display/clinicalItemDisplay.1.doc.mdx
  packages/terra-clinical-item-view/CHANGELOG.md
  packages/terra-clinical-item-view/package.json
  packages/terra-clinical-item-view/src/terra-dev-site/doc/clinical-item-view/clinicalItemView.1.doc.mdx
  packages/terra-clinical-label-value-view/CHANGELOG.md
  packages/terra-clinical-label-value-view/package.json
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/clinical-label-value-view/clinicalLabelValueView.1.doc.mdx
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/package.json
  packages/terra-clinical-onset-picker/src/terra-dev-site/doc/clinical-onset-picker/ClinicalOnsetPicker.1.doc.mdx
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/package.json
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ClinicalResult.1.doc.mdx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ClinicalResultBloodPressure.2.doc.mdx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/FlowsheetResultCell.3.doc.mdx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ResultNameHeaderCell.4.doc.mdx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ResultTimeHeaderCell.5.doc.mdx
Labels: docs
