Repository cerner/terra-clinical, pull requests merged in 2020-03, with the labels that each got.

#614 [terra-clinical-result] Fixing BloodPressure no data defect
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/src/ClinicalResultBloodPressure.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/TestResults.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result-blood-pressure/NoDataClinicalResultBloodPressure.test.jsx
  packages/terra-clinical-result/tests/jest/ClinicalResultBloodPressure.test.jsx
  packages/terra-clinical-result/tests/jest/__snapshots__/ClinicalResultBloodPressure.test.jsx.snap
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/clinical-result-blood-pressure-spec/no_data[default].png
  packages/terra-clinical-result/tests/wdio/clinical-result-blood-pressure-spec.js
Labels: bug-fix, result

#622 [terra-clinical-label-value-view] Update mdx docs
  packages/terra-clinical-label-value-view/CHANGELOG.md
  packages/terra-clinical-label-value-view/README.md
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/clinical-label-value-view/ChangeLog.3.doc.mdx
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/clinical-label-value-view/UpgradeGuide.2.doc.mdx
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/clinical-label-value-view/clinicalLabelValueView.1.doc.mdx
Labels: docs, label-value-view

#626 [terra-clinical-header] Update docs to use MDX syntax
  package.json
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/README.md
  packages/terra-clinical-header/docs/README.md
  packages/terra-clinical-header/package.json
  packages/terra-clinical-header/src/terra-dev-site/doc/clinical-header/ChangeLog.3.doc.jsx
  packages/terra-clinical-header/src/terra-dev-site/doc/clinical-header/ChangeLog.3.doc.mdx
  packages/terra-clinical-header/src/terra-dev-site/doc/clinical-header/UpgradeGuide.2.doc.jsx
  packages/terra-clinical-header/src/terra-dev-site/doc/clinical-header/UpgradeGuide.2.doc.mdx
  packages/terra-clinical-header/src/terra-dev-site/doc/clinical-header/clinicalHeader.1.doc.jsx
  packages/terra-clinical-header/src/terra-dev-site/doc/clinical-header/clinicalHeader.1.doc.mdx
Labels: docs, header

#625 [terra-clinical-detail-view] Update docs to use MDX syntax
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/README.md
  packages/terra-clinical-detail-view/docs/README.md
  packages/terra-clinical-detail-view/package.json
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/clinical-detail-view/ChangeLog.3.doc.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/clinical-detail-view/ChangeLog.3.doc.mdx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/clinical-detail-view/ClinicalDetailView.1.doc.mdx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/clinical-detail-view/UpgradeGuide.2.doc.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/clinical-detail-view/UpgradeGuide.2.doc.mdx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/clinical-detail-view/clinicalDetailView.1.doc.jsx
Labels: detail-view, docs

#623 [terra-clinical-data-grid] Update docs to use MDX syntax
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/README.md
  packages/terra-clinical-data-grid/package.json
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/ChangeLog.4.doc.jsx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/ChangeLog.4.doc.mdx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/Datagrid.1.doc.jsx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/Datagrid.1.doc.mdx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/DatagridWithColumnResizing.5.doc.jsx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/DatagridWithColumnResizing.5.doc.mdx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/DatagridWithCustomContent.7.doc.jsx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/DatagridWithCustomContent.7.doc.mdx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/DatagridWithNoPinnedColumns.2.doc.jsx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/DatagridWithNoPinnedColumns.2.doc.mdx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/DatagridWithPaging.6.doc.jsx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/DatagridWithPaging.6.doc.mdx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/DatagridWithSelections.4.doc.jsx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/DatagridWithSelections.4.doc.mdx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/DatagridWithSubsections.3.doc.jsx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/DatagridWithSubsections.3.doc.mdx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/DatagridWithoutFill.8.doc.jsx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/DatagridWithoutFill.8.doc.mdx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/UpgradeGuide.3.doc.jsx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/UpgradeGuide.3.doc.mdx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/clinicalDataGrid.1.doc.jsx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/clinicalDataGrid.1.doc.mdx
Labels: data-grid, docs

#624 [terra-clinical-onset-picker] Update docs to use mdx syntax
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/README.md
  packages/terra-clinical-onset-picker/docs/README.md
  packages/terra-clinical-onset-picker/docs/UPGRADEGUIDE.md
  packages/terra-clinical-onset-picker/package.json
  packages/terra-clinical-onset-picker/src/OnsetPicker.jsx
  packages/terra-clinical-onset-picker/src/terra-dev-site/doc/clinical-onset-picker/ChangeLog.3.doc.mdx
  packages/terra-clinical-onset-picker/src/terra-dev-site/doc/clinical-onset-picker/ClinicalOnsetPicker.1.doc.jsx
  packages/terra-clinical-onset-picker/src/terra-dev-site/doc/clinical-onset-picker/ClinicalOnsetPicker.1.doc.mdx
  packages/terra-clinical-onset-picker/src/terra-dev-site/doc/clinical-onset-picker/UpgradeGuide.2.doc.mdx
Labels: docs, onset-picker

#629 [terra-clinical-item-display] Update docs to use MDX syntax
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/README.md
  packages/terra-clinical-item-display/docs/README.md
  packages/terra-clinical-item-display/package.json
  packages/terra-clinical-item-display/src/terra-dev-site/doc/clinical-item-display/ChangeLog.3.doc.jsx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/clinical-item-display/ChangeLog.3.doc.mdx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/clinical-item-display/UpgradeGuide.2.doc.jsx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/clinical-item-display/UpgradeGuide.2.doc.mdx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/clinical-item-display/clinicalItemDisplay.1.doc.jsx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/clinical-item-display/clinicalItemDisplay.1.doc.mdx
Labels: docs, item-display

#628 [terra-clinical-result] Update docs to use mdx syntax
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/README.md
  packages/terra-clinical-result/docs/ClinicalResultBloodPressure.md
  packages/terra-clinical-result/docs/FlowsheetResultCell.md
  packages/terra-clinical-result/docs/README.md
  packages/terra-clinical-result/docs/ResultNameHeaderCell.md
  packages/terra-clinical-result/docs/ResultTimeHeaderCell.md
  packages/terra-clinical-result/package.json
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ChangeLog.6.doc.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ChangeLog.6.doc.mdx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ClinicalResult.1.doc.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ClinicalResult.1.doc.mdx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ClinicalResultBloodPressure.2.doc.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ClinicalResultBloodPressure.2.doc.mdx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/FlowsheetResultCell.3.doc.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/FlowsheetResultCell.3.doc.mdx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ResultNameHeaderCell.4.doc.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ResultNameHeaderCell.4.doc.mdx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ResultTimeHeaderCell.5.doc.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ResultTimeHeaderCell.5.doc.mdx
Labels: docs, result

#630 [terra-clinical-item-view] Update docs to use mdx syntax
  packages/terra-clinical-item-view/CHANGELOG.md
  packages/terra-clinical-item-view/README.md
  packages/terra-clinical-item-view/docs/README.md
  packages/terra-clinical-item-view/docs/item-view-two-column.md
  packages/terra-clinical-item-view/package.json
  packages/terra-clinical-item-view/src/ItemView.jsx
  packages/terra-clinical-item-view/src/terra-dev-site/doc/clinical-item-view/ChangeLog.3.doc.jsx
  packages/terra-clinical-item-view/src/terra-dev-site/doc/clinical-item-view/ChangeLog.3.doc.mdx
  packages/terra-clinical-item-view/src/terra-dev-site/doc/clinical-item-view/UpgradeGuide.2.doc.jsx
  packages/terra-clinical-item-view/src/terra-dev-site/doc/clinical-item-view/UpgradeGuide.2.doc.mdx
  packages/terra-clinical-item-view/src/terra-dev-site/doc/clinical-item-view/clinicalItemView.1.doc.jsx
  packages/terra-clinical-item-view/src/terra-dev-site/doc/clinical-item-view/clinicalItemView.1.doc.mdx
Labels: docs, item-view

#633 [terra-clinical-result] Alpha Truncation fixes
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/src/ClinicalResult.jsx
  packages/terra-clinical-result/src/ClinicalResult.module.scss
  packages/terra-clinical-result/src/ClinicalResultBloodPressure.jsx
  packages/terra-clinical-result/src/common/observation/_Observation.jsx
  packages/terra-clinical-result/src/common/other/OtherTemplates.module.scss
  packages/terra-clinical-result/src/flowsheet-result-cell/FlowsheetResultCell.module.scss
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result-blood-pressure/TruncatedClinicalResultBloodPressure.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result/TruncatedResult.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/flowsheet-result-cell/TruncatedFlowsheetResultCell.test.jsx
  packages/terra-clinical-result/tests/jest/__snapshots__/ClinicalResult.test.jsx.snap
  packages/terra-clinical-result/tests/jest/__snapshots__/ClinicalResultBloodPressure.test.jsx.snap
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/clinical-result-blood-pressure-spec/no_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/clinical-result-blood-pressure-spec/with_extra_displays[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/clinical-result-blood-pressure-spec/with_truncated_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/clinical-result-spec/with_truncated_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-result-cell-spec/truncation[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/observation-spec/bad_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/clinical-result-blood-pressure-spec/no_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/clinical-result-blood-pressure-spec/with_extra_displays[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/clinical-result-blood-pressure-spec/with_truncated_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/clinical-result-spec/with_truncated_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/flowsheet-result-cell-spec/truncation[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/observation-spec/bad_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/clinical-result-blood-pressure-spec/with_extra_displays[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/clinical-result-blood-pressure-spec/with_truncated_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/clinical-result-spec/with_truncated_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-result-cell-spec/paddingStyles[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-result-cell-spec/truncation[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/observation-spec/bad_data[default].png
  packages/terra-clinical-result/tests/wdio/flowsheet-result-cell-spec.js
Labels: result, ⭐️ Functionally Reviewed, ⭐️ UX Reviewed
