Repository cerner/terra-clinical, pull requests merged in 2020-06, with the labels that each got.

#663 [terra-clinical-detail-view] Add theme context
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/package.json
  packages/terra-clinical-detail-view/src/DetailView.jsx
  packages/terra-clinical-detail-view/src/DetailView.module.scss
  packages/terra-clinical-detail-view/src/clinical-lowlight-theme/DetailView.module.scss
  packages/terra-clinical-detail-view/src/orion-fusion-theme/DetailView.module.scss
  packages/terra-clinical-detail-view/tests/jest/DetailView.test.jsx
  packages/terra-clinical-detail-view/tests/jest/__snapshots__/DetailView.test.jsx.snap
  packages/terra-clinical-detail-view/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-clinical-detail-view/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-clinical-detail-view

#664 [terra-clinical-item-display] Add theme context
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/package.json
  packages/terra-clinical-item-display/src/ItemComment.jsx
  packages/terra-clinical-item-display/src/ItemComment.module.scss
  packages/terra-clinical-item-display/src/ItemDisplay.jsx
  packages/terra-clinical-item-display/src/ItemDisplay.module.scss
  packages/terra-clinical-item-display/src/clinical-lowlight-theme/ItemComment.module.scss
  packages/terra-clinical-item-display/src/clinical-lowlight-theme/ItemDisplay.module.scss
  packages/terra-clinical-item-display/src/orion-fusion-theme/ItemComment.module.scss
  packages/terra-clinical-item-display/src/orion-fusion-theme/ItemDisplay.module.scss
  packages/terra-clinical-item-display/tests/jest/ItemComment.test.jsx
  packages/terra-clinical-item-display/tests/jest/ItemDisplay.test.jsx
  packages/terra-clinical-item-display/tests/jest/__snapshots__/ItemComment.test.jsx.snap
  packages/terra-clinical-item-display/tests/jest/__snapshots__/ItemDisplay.test.jsx.snap
  packages/terra-clinical-item-display/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-clinical-item-display/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-clinical-item-display

#665 [terra-clinical-item-view] Add theme context
  packages/terra-clinical-item-view/CHANGELOG.md
  packages/terra-clinical-item-view/package.json
  packages/terra-clinical-item-view/src/ItemView.jsx
  packages/terra-clinical-item-view/src/ItemView.module.scss
  packages/terra-clinical-item-view/src/clinical-lowlight-theme/ItemView.module.scss
  packages/terra-clinical-item-view/src/orion-fusion-theme/ItemView.module.scss
  packages/terra-clinical-item-view/tests/jest/ItemView.test.jsx
  packages/terra-clinical-item-view/tests/jest/__snapshots__/ItemView.test.jsx.snap
  packages/terra-clinical-item-view/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-clinical-item-view/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-clinical-item-view

#666 [terra-clinical-label-value-view] Add theme context
  packages/terra-clinical-label-value-view/CHANGELOG.md
  packages/terra-clinical-label-value-view/package.json
  packages/terra-clinical-label-value-view/src/LabelValueView.jsx
  packages/terra-clinical-label-value-view/src/LabelValueView.module.scss
  packages/terra-clinical-label-value-view/src/clinical-lowlight-theme/LabelValueView.module.scss
  packages/terra-clinical-label-value-view/src/orion-fusion-theme/LabelValueView.module.scss
  packages/terra-clinical-label-value-view/tests/jest/LabelValueView.test.jsx
  packages/terra-clinical-label-value-view/tests/jest/__snapshots__/LabelValueView.test.jsx.snap
  packages/terra-clinical-label-value-view/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-clinical-label-value-view/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-clinical-label-value-view

#667 [terra-clinical-onset-picker] Add theme context
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/package.json
  packages/terra-clinical-onset-picker/src/OnsetPicker.jsx
  packages/terra-clinical-onset-picker/src/OnsetPicker.module.scss
  packages/terra-clinical-onset-picker/src/clinical-lowlight-theme/OnsetPicker.module.scss
  packages/terra-clinical-onset-picker/src/orion-fusion-theme/OnsetPicker.module.scss
  packages/terra-clinical-onset-picker/tests/jest/OnsetPicker.test.jsx
  packages/terra-clinical-onset-picker/tests/jest/__snapshots__/OnsetPicker.test.jsx.snap
  packages/terra-clinical-onset-picker/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-clinical-onset-picker

#662 [terra-clinical-data-grid] Add theme context
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/package.json
  packages/terra-clinical-data-grid/src/DataGrid.jsx
  packages/terra-clinical-data-grid/src/DataGrid.module.scss
  packages/terra-clinical-data-grid/src/clinical-lowlight-theme/Cell.module.scss
  packages/terra-clinical-data-grid/src/clinical-lowlight-theme/DataGrid.module.scss
  packages/terra-clinical-data-grid/src/clinical-lowlight-theme/HeaderCell.module.scss
  packages/terra-clinical-data-grid/src/clinical-lowlight-theme/ResizeHandle.module.scss
  packages/terra-clinical-data-grid/src/clinical-lowlight-theme/Row.module.scss
  packages/terra-clinical-data-grid/src/clinical-lowlight-theme/RowSelectionCell.module.scss
  packages/terra-clinical-data-grid/src/clinical-lowlight-theme/Scrollbar.module.scss
  packages/terra-clinical-data-grid/src/clinical-lowlight-theme/SectionHeader.module.scss
  packages/terra-clinical-data-grid/src/orion-fusion-theme/Cell.module.scss
  packages/terra-clinical-data-grid/src/orion-fusion-theme/DataGrid.module.scss
  packages/terra-clinical-data-grid/src/orion-fusion-theme/HeaderCell.module.scss
  packages/terra-clinical-data-grid/src/orion-fusion-theme/ResizeHandle.module.scss
  packages/terra-clinical-data-grid/src/orion-fusion-theme/Row.module.scss
  packages/terra-clinical-data-grid/src/orion-fusion-theme/RowSelectionCell.module.scss
  packages/terra-clinical-data-grid/src/orion-fusion-theme/Scrollbar.module.scss
  packages/terra-clinical-data-grid/src/orion-fusion-theme/SectionHeader.module.scss
  packages/terra-clinical-data-grid/src/subcomponents/Cell.jsx
  packages/terra-clinical-data-grid/src/subcomponents/Cell.module.scss
  packages/terra-clinical-data-grid/src/subcomponents/HeaderCell.jsx
  packages/terra-clinical-data-grid/src/subcomponents/HeaderCell.module.scss
  packages/terra-clinical-data-grid/src/subcomponents/ResizeHandle.jsx
  packages/terra-clinical-data-grid/src/subcomponents/ResizeHandle.module.scss
  packages/terra-clinical-data-grid/src/subcomponents/Row.jsx
  packages/terra-clinical-data-grid/src/subcomponents/Row.module.scss
  packages/terra-clinical-data-grid/src/subcomponents/RowSelectionCell.jsx
  packages/terra-clinical-data-grid/src/subcomponents/RowSelectionCell.module.scss
  packages/terra-clinical-data-grid/src/subcomponents/Scrollbar.jsx
  packages/terra-clinical-data-grid/src/subcomponents/Scrollbar.module.scss
  packages/terra-clinical-data-grid/src/subcomponents/SectionHeader.jsx
  packages/terra-clinical-data-grid/src/subcomponents/SectionHeader.module.scss
  packages/terra-clinical-data-grid/tests/jest/DataGrid.test.jsx
  packages/terra-clinical-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
  packages/terra-clinical-data-grid/tests/jest/subcomponents/Cell.test.jsx
  packages/terra-clinical-data-grid/tests/jest/subcomponents/HeaderCell.test.jsx
  packages/terra-clinical-data-grid/tests/jest/subcomponents/ResizeHandle.test.jsx
  packages/terra-clinical-data-grid/tests/jest/subcomponents/Row.test.jsx
  packages/terra-clinical-data-grid/tests/jest/subcomponents/RowSelectionCell.test.jsx
  packages/terra-clinical-data-grid/tests/jest/subcomponents/Scrollbar.test.jsx
  packages/terra-clinical-data-grid/tests/jest/subcomponents/SectionHeader.test.jsx
  packages/terra-clinical-data-grid/tests/jest/subcomponents/__snapshots__/Cell.test.jsx.snap
  packages/terra-clinical-data-grid/tests/jest/subcomponents/__snapshots__/HeaderCell.test.jsx.snap
  packages/terra-clinical-data-grid/tests/jest/subcomponents/__snapshots__/ResizeHandle.test.jsx.snap
  packages/terra-clinical-data-grid/tests/jest/subcomponents/__snapshots__/Row.test.jsx.snap
  packages/terra-clinical-data-grid/tests/jest/subcomponents/__snapshots__/RowSelectionCell.test.jsx.snap
  packages/terra-clinical-data-grid/tests/jest/subcomponents/__snapshots__/Scrollbar.test.jsx.snap
  packages/terra-clinical-data-grid/tests/jest/subcomponents/__snapshots__/SectionHeader.test.jsx.snap
  packages/terra-clinical-data-grid/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-clinical-data-grid/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-clinical-data-grid

#669 Update eslint config dependency
  CONTRIBUTORS.md
  package.json
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/src/DataGrid.jsx
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/DatagridExamples.2/DatagridWithPaging.jsx
  packages/terra-clinical-data-grid/src/utils/dataGridUtils.js
  packages/terra-clinical-item-collection/CHANGELOG.md
  packages/terra-clinical-item-collection/src/_ItemCollectionUtils.jsx
  packages/terra-clinical-item-collection/src/terra-dev-site/test/clinical-item-collection/ItemCollectionSelectable.test.jsx
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/src/common/other/_KnownNoData.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/flowsheet-result-cell/FlowsheetResultCellStatusEnteredInError.jsx
  scripts/changelog-updater/index.js
  scripts/root-readme-updater/index.js
  webpack.config.js
Labels: intern project

#648 [terra-clinical-result] Cleaning up clinical-result
  package.json
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/src/ClinicalResult.jsx
  packages/terra-clinical-result/src/ClinicalResultBloodPressure.jsx
  packages/terra-clinical-result/src/_BloodPressureDisplay.jsx
  packages/terra-clinical-result/src/_ClinicalResultDisplay.jsx
  packages/terra-clinical-result/src/_SecondaryDisplays.jsx
  packages/terra-clinical-result/src/common/observation/_Observation.jsx
  packages/terra-clinical-result/src/common/utils.js
  packages/terra-clinical-result/src/proptypes/observationPropTypes.js
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/TestResults.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result-blood-pressure/InterpretationsBloodPressureResult.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result-blood-pressure/NoDataClinicalResultBloodPressure.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result-blood-pressure/SingleResultClinicalResultBloodPressure.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result/HasResultErrorResult.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result/HasResultNoDataResult.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/flowsheet-result-cell/DecoratedFlowsheetResultCell.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/flowsheet-result-cell/HasResultErrorFlowsheetResultCell.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/flowsheet-result-cell/NoDataFlowsheetResultCell.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/flowsheet-result-cell/NumericOverflowFlowsheetResultCell.test.jsx
  packages/terra-clinical-result/tests/jest/_BloodPressureDisplay.test.jsx
  packages/terra-clinical-result/tests/jest/__snapshots__/ClinicalResultBloodPressure.test.jsx.snap
  packages/terra-clinical-result/tests/jest/__snapshots__/_BloodPressureDisplay.test.jsx.snap
  packages/terra-clinical-result/tests/jest/common/utils.test.jsx
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/clinical-result-blood-pressure-spec/interpretations[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/clinical-result-blood-pressure-spec/no_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/clinical-result-spec/with_has_result_no_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/clinical-result-spec/with_result_error[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-result-cell-spec/decorated[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-result-cell-spec/numeric_overflow[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-result-cell-spec/result_error[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/clinical-result-blood-pressure-spec/interpretations[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/clinical-result-blood-pressure-spec/no_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/clinical-result-blood-pressure-spec/single_results_of_pair[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/clinical-result-spec/with_has_result_no_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/clinical-result-spec/with_result_error[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/flowsheet-result-cell-spec/decorated[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/flowsheet-result-cell-spec/numeric_overflow[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/en/chrome_medium/flowsheet-result-cell-spec/result_error[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/clinical-result-blood-pressure-spec/interpretations[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/clinical-result-blood-pressure-spec/no_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/clinical-result-spec/with_has_result_no_data[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/clinical-result-spec/with_result_error[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-result-cell-spec/decorated[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-result-cell-spec/numeric_overflow[default].png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-result-cell-spec/result_error[default].png
  packages/terra-clinical-result/tests/wdio/clinical-result-spec.js
  packages/terra-clinical-result/tests/wdio/flowsheet-result-cell-spec.js
Labels: :package: terra-clinical-result

#672 [terra-clinical-detail-view] Specify Divider Display Style
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/src/DetailView.module.scss
Labels: :package: terra-clinical-detail-view, :star: UX Reviewed

#555 [terra-clinical-item-display] Resolved dependency cycle.
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/src/ItemComment.jsx
  packages/terra-clinical-item-display/src/ItemDisplay.jsx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/example/DefaultComment.jsx
  packages/terra-clinical-item-view/CHANGELOG.md
  packages/terra-clinical-item-view/src/ItemView.jsx
Labels: :package: terra-clinical-item-display, :package: terra-clinical-item-view, Major Version Bump
