Repository cerner/terra-clinical, pull requests merged in 2020-01, with the labels that each got.

#600 [label-value-view] Update Docs to Use MDX
  packages/terra-clinical-label-value-view/CHANGELOG.md
  packages/terra-clinical-label-value-view/docs/README.md
  packages/terra-clinical-label-value-view/package.json
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/clinical-label-value-view/ChangeLog.3.doc.jsx
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/clinical-label-value-view/ChangeLog.3.doc.mdx
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/clinical-label-value-view/UpgradeGuide.2.doc.jsx
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/clinical-label-value-view/UpgradeGuide.2.doc.mdx
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/clinical-label-value-view/clinicalLabelValueView.1.doc.jsx
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/clinical-label-value-view/clinicalLabelValueView.1.doc.mdx
Labels: docs, label-value-view

#605 Add missing upgrade guides
  packages/terra-clinical-item-collection/CHANGELOG.md
  packages/terra-clinical-item-collection/src/terra-dev-site/doc/clinical-item-collection/ChangeLog.2.doc.jsx
  packages/terra-clinical-item-collection/src/terra-dev-site/doc/clinical-item-collection/ChangeLog.3.doc.mdx
  packages/terra-clinical-item-collection/src/terra-dev-site/doc/clinical-item-collection/UpgradeGuide.2.doc.mdx
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/src/terra-dev-site/doc/clinical-onset-picker/ChangeLog.2.doc.jsx
  packages/terra-clinical-onset-picker/src/terra-dev-site/doc/clinical-onset-picker/ChangeLog.3.doc.mdx
  packages/terra-clinical-onset-picker/src/terra-dev-site/doc/clinical-onset-picker/UpgradeGuide.2.doc.mdx
Labels: docs

#585 [clinical-data-grid] Added callback ref for vertical and horizontal overflow container
  package.json
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/src/DataGrid.jsx
  packages/terra-clinical-data-grid/tests/jest/DataGrid.test.jsx
Labels: data-grid
