Repository cerner/terra-clinical, pull requests merged in 2023-08, with the labels that each got.

#893 Downgrade UUID in packages from 7.0.3 to 3.4.0
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/package.json
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/package.json
Labels: :package: terra-clinical-detail-view, :package: terra-clinical-result, dependencies

#895 Release Aug 2 2023
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/package.json
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/package.json
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/package.json
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/package.json
  packages/terra-clinical-item-view/CHANGELOG.md
  packages/terra-clinical-item-view/package.json
  packages/terra-clinical-label-value-view/CHANGELOG.md
  packages/terra-clinical-label-value-view/package.json
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/package.json
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/package.json
Labels: release

#892 [Terra-clinical-detailview] Fixes issue of empty space when no elements provided for title section
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/src/DetailView.jsx
  packages/terra-clinical-detail-view/tests/jest/DetailView.test.jsx
  packages/terra-clinical-detail-view/tests/jest/__snapshots__/DetailView.test.jsx.snap
Labels: :package: terra-clinical-detail-view, bug-fix

#898 Update docker-compose-wdio.yml for dev containers
  .devcontainer/docker-compose-wdio.yml
  README.md
Labels: bug-fix

#896 [terra-clinical-onset-picker] Announce state and chosen/selected item in the combo box
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/src/OnsetPicker.jsx
  packages/terra-clinical-onset-picker/tests/jest/__snapshots__/OnsetPicker.test.jsx.snap
Labels: :package: terra-clinical-onset-picker, :star: Accessibility Reviewed

#900 Release 14/08
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/package.json
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/package.json
Labels: :package: terra-clinical-header, :package: terra-clinical-onset-picker

#897 [terra-clinical-item-view] Correct readout order for two column layout
  packages/terra-clinical-item-view/CHANGELOG.md
  packages/terra-clinical-item-view/src/ItemView.jsx
  packages/terra-clinical-item-view/src/ItemView.module.scss
  packages/terra-clinical-item-view/tests/jest/__snapshots__/ItemView.test.jsx.snap
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/item-view-spec/with_truncation_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/item-view-spec/with_truncation_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_enormous/item-view-spec/with_truncation_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_enormous/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_enormous/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_enormous/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/item-view-spec/with_word_wrap_in_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/item-view-spec/with_two_column_and_start_displays.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/item-view-spec/with_two_columns.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/item-view-spec/with_word_wrap_in_two_columns.png
Labels: :package: terra-clinical-item-view, :star: UX Reviewed, :star: Accessibility Reviewed

#902 [terra-clinical-result] Fix useEffect infinite re-render
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/src/flowsheet-result-cell/FlowsheetResultCell.jsx
  packages/terra-clinical-result/src/flowsheet-result-cell/FlowsheetResultCell.module.scss
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/AccessibilityGuide.6.doc.mdx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/Examples.module.scss
  packages/terra-clinical-result/src/terra-dev-site/doc/example/flowsheet-result-cell/FlowsheetResultCellBloodPressure.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/flowsheet-result-cell/FlowsheetResultCellKnownAndPartialNoData.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/flowsheet-result-cell/FlowsheetResultCellKnownErrorAndPartialError.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/flowsheet-result-cell/FlowsheetResultCellMultipleBloodPressures.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/flowsheet-result-cell/FlowsheetResultCellMultipleResults.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/flowsheet-result-cell/FlowsheetResultCellNumericOverflow.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/flowsheet-result-cell/FlowsheetResultCellPaddingStyle.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/flowsheet-result-cell/FlowsheetResultCellPaddingStyleSemanticExample.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/flowsheet-result-cell/FlowsheetResultCellSemanticTableExample.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/flowsheet-result-cell/FlowsheetResultCellStatusEnteredInError.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/flowsheet-result-cell/FlowsheetResultCellUnverifiedResults.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/flowsheet-result-cell/NonSemanticTable.scss
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/flowsheet-result-cell/NonSemanticTableWithFlowsheetResultCell.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/flowsheet-result-cell/SemanticPaddingstyleWithFlowsheetResultCell.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/flowsheet-result-cell/SemanticTableWithFlowsheetResultCell.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/result-name-header-cell/SemanticTableWithResultNameHeaderCell.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/result-time-header-cell/SemanticTableWithResultTimeHeaderCell.test.jsx
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-result-cell-spec/with_non_semantic_table.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-result-cell-spec/with_semantic_table.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-result-cell-spec/with_semantic_table_padding_styles.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/result-name-header-cell-spec/with_semantic_table.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/result-time-header-cell-spec/with_semantic_table.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-result-cell-spec/with_non_semantic_table.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-result-cell-spec/with_semantic_table.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-result-cell-spec/with_semantic_table_padding_styles.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/result-name-header-cell-spec/with_semantic_table.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/result-time-header-cell-spec/with_semantic_table.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/flowsheet-result-cell-spec/with_non_semantic_table.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/flowsheet-result-cell-spec/with_semantic_table.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/flowsheet-result-cell-spec/with_semantic_table_padding_styles.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/result-name-header-cell-spec/with_semantic_table.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/result-time-header-cell-spec/with_semantic_table.png
  packages/terra-clinical-result/tests/wdio/flowsheet-result-cell-spec.js
Labels: :package: terra-clinical-result, :star: Functionally Reviewed

#907 [terra-clinical-onset-picker] Update Terra Doc Site with blurb about having visible labels for the form fields
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/src/terra-dev-site/doc/clinical-onset-picker/ClinicalOnsetPicker.1.doc.mdx
Labels: :package: terra-clinical-onset-picker, :star: UX Reviewed, :star: Accessibility Reviewed

#899 [terra-clinical-item-view] Add prop to override default display styling
  packages/terra-clinical-item-view/CHANGELOG.md
  packages/terra-clinical-item-view/src/ItemView.jsx
  packages/terra-clinical-item-view/src/ItemView.module.scss
  packages/terra-clinical-item-view/src/terra-dev-site/doc/clinical-item-view/clinicalItemView.1.doc.mdx
  packages/terra-clinical-item-view/src/terra-dev-site/doc/example/ItemViewOverrideDefaultStyling.jsx
  packages/terra-clinical-item-view/src/terra-dev-site/test/clinical-item-view/ItemViewCommon.test.module.scss
  packages/terra-clinical-item-view/src/terra-dev-site/test/clinical-item-view/StylingOverrideItemView.test.jsx
  packages/terra-clinical-item-view/tests/jest/ItemView.test.jsx
  packages/terra-clinical-item-view/tests/jest/__snapshots__/ItemView.test.jsx.snap
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_enormous/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/item-view-spec/with_override_styling.png
  packages/terra-clinical-item-view/tests/wdio/item-view-spec.js
Labels: :package: terra-clinical-item-view, :star: UX Reviewed, :star: Accessibility Reviewed

#901 [terra-clinical-onset-picker] Added screenreader support to announce dynamic content
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/src/OnsetPicker.jsx
  packages/terra-clinical-onset-picker/tests/jest/OnsetPicker.test.jsx
  packages/terra-clinical-onset-picker/tests/jest/__snapshots__/OnsetPicker.test.jsx.snap
Labels: :package: terra-clinical-onset-picker, :star: UX Reviewed, :star: Accessibility Reviewed
