Repository cerner/terra-clinical, pull requests merged in 2023-09, with the labels that each got.

#909 [terra-clinical-result] Display error state if result value is empty
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/src/common/observation/_Observation.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/TestResults.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result-blood-pressure/NoDataClinicalResultBloodPressure.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result/EmptyResult.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result/EmptyResultArray.test.jsx
  packages/terra-clinical-result/tests/jest/common/observation/Observation.test.jsx
  packages/terra-clinical-result/tests/jest/common/observation/__snapshots__/Observation.test.jsx.snap
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/clinical-result-blood-pressure-spec/with_no_data.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/clinical-result-spec/empty_string_with_result_array.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/clinical-result-spec/empty_string_with_result_error.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/clinical-result-blood-pressure-spec/with_no_data.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/clinical-result-spec/empty_string_with_result_array.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/clinical-result-spec/empty_string_with_result_error.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/clinical-result-blood-pressure-spec/with_no_data.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/clinical-result-spec/empty_string_with_result_array.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/clinical-result-spec/empty_string_with_result_error.png
  packages/terra-clinical-result/tests/wdio/clinical-result-spec.js
Labels: :package: terra-clinical-result, :star: Functionally Reviewed

#908 [terra-clinical-item-display] Update truncated text examples
  packages/terra-clinical-item-display/package.json
  packages/terra-clinical-item-display/src/terra-dev-site/doc/clinical-item-display/clinicalItemDisplay.1.doc.mdx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/example/TruncatedText.jsx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/example/TruncatedTextSlidePanel.jsx
Labels: :package: terra-clinical-item-display, :star: UX Reviewed, Accessibility Review Ready, :star: Accessibility Reviewed

#917 Release September 21, 2023
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/package.json
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/package.json
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/package.json
  packages/terra-clinical-item-view/CHANGELOG.md
  packages/terra-clinical-item-view/package.json
  packages/terra-clinical-label-value-view/CHANGELOG.md
  packages/terra-clinical-label-value-view/package.json
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/package.json
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/package.json
Labels: release

#916 [terra-clinical-item-view] Accessibility guide
  packages/terra-clinical-item-view/CHANGELOG.md
  packages/terra-clinical-item-view/package.json
  packages/terra-clinical-item-view/src/ItemView.jsx
  packages/terra-clinical-item-view/src/terra-dev-site/doc/clinical-item-view/AccessibilityGuide.4.doc.mdx
  packages/terra-clinical-item-view/src/terra-dev-site/doc/example/ItemViewTwoColumnWithHeader.jsx
  packages/terra-clinical-item-view/src/terra-dev-site/doc/example/ItemViewWithHeader.jsx
Labels: :package: terra-clinical-item-view, Tech Writing Review Required
