Repository cerner/terra-clinical, pull requests merged in 2023-05, with the labels that each got.

#845 [terra-clinical-item-display] Deprecating isDisabled prop
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/src/ItemDisplay.jsx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/clinical-item-display/clinicalItemDisplay.1.doc.mdx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/example/DefaultComment.jsx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/example/TextStylesDisabled.jsx
  packages/terra-clinical-item-display/src/terra-dev-site/test/clinical-item-display/display/DisabledItemDisplay.test.jsx
  packages/terra-clinical-item-display/tests/jest/ItemDisplay.test.jsx
  packages/terra-clinical-item-display/tests/wdio/item-display-spec.js
Labels: :package: terra-clinical-item-display

#843 [terra-clinical-item-display] Add hidden text meaning to strikethrough style
  packages/terra-clinical-item-collection/tests/jest/__snapshots__/Item.test.jsx.snap
  packages/terra-clinical-item-collection/tests/jest/__snapshots__/ItemCollection.test.jsx.snap
  packages/terra-clinical-item-collection/tests/jest/__snapshots__/_ListView.test.jsx.snap
  packages/terra-clinical-item-collection/tests/jest/__snapshots__/_TableView.test.jsx.snap
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/package.json
  packages/terra-clinical-item-display/src/ItemDisplay.jsx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/clinical-item-display/clinicalItemDisplay.1.doc.mdx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/example/TextStyleMeaning.jsx
  packages/terra-clinical-item-display/src/terra-dev-site/test/clinical-item-display/display/MeaningItemDisplay.test.jsx
  packages/terra-clinical-item-display/src/terra-dev-site/test/clinical-item-display/display/TextStyleItemDisplay.test.jsx
  packages/terra-clinical-item-display/tests/jest/ItemDisplay.test.jsx
  packages/terra-clinical-item-display/tests/jest/__snapshots__/ItemComment.test.jsx.snap
  packages/terra-clinical-item-display/tests/jest/__snapshots__/ItemDisplay.test.jsx.snap
  packages/terra-clinical-item-display/translations/en-US.json
  packages/terra-clinical-item-display/translations/en.json
  packages/terra-clinical-item-view/tests/jest/__snapshots__/ItemView.test.jsx.snap
Labels: :package: terra-clinical-item-display, UX Review Required, :star: Accessibility Reviewed

#852 release May 15
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/package.json
  packages/terra-clinical-item-collection/CHANGELOG.md
  packages/terra-clinical-item-collection/package.json
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/package.json
  packages/terra-clinical-item-view/CHANGELOG.md
  packages/terra-clinical-item-view/package.json
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/package.json
Labels: release

#844 [terra-clinical-item-display] Adding semantics
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/src/ItemDisplay.jsx
  packages/terra-clinical-item-display/tests/jest/ItemDisplay.test.jsx
  packages/terra-clinical-item-display/tests/jest/__snapshots__/ItemDisplay.test.jsx.snap
Labels: :package: terra-clinical-item-display, :star: UX Reviewed, Accessibility Review Ready, :star: Accessibility Reviewed

#838 [clinical-result] Added a11yLabel attribute to clinical-result component
  .gitignore
  CONTRIBUTORS.md
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/package.json
  packages/terra-clinical-result/src/ClinicalResultBloodPressure.jsx
  packages/terra-clinical-result/src/_Icons.jsx
  packages/terra-clinical-result/src/common/observation/_Observation.jsx
  packages/terra-clinical-result/tests/jest/ClinicalResultBloodPressure.test.jsx
  packages/terra-clinical-result/tests/jest/_Icons.test.jsx
  packages/terra-clinical-result/tests/jest/__snapshots__/ClinicalResultBloodPressure.test.jsx.snap
  packages/terra-clinical-result/tests/jest/__snapshots__/_BloodPressureDisplay.test.jsx.snap
  packages/terra-clinical-result/tests/jest/__snapshots__/_ClinicalResultDisplay.test.jsx.snap
  packages/terra-clinical-result/tests/jest/__snapshots__/_Icons.test.jsx.snap
  packages/terra-clinical-result/tests/jest/common/observation/Observation.test.jsx
  packages/terra-clinical-result/tests/jest/common/observation/__snapshots__/Observation.test.jsx.snap
  packages/terra-clinical-result/tests/jest/flowsheet-result-cell/__snapshots__/FlowsheetResultCell.test.jsx.snap
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/clinical-result-blood-pressure-spec/with_interpretations.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/clinical-result-spec/with_interpretations.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-result-cell-spec/with_interpretations.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/observation-spec/with_interpretations.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/clinical-result-blood-pressure-spec/with_interpretations.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/clinical-result-spec/with_interpretations.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-result-cell-spec/with_interpretations.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/observation-spec/with_interpretations.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/clinical-result-blood-pressure-spec/with_interpretations.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/clinical-result-spec/with_interpretations.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/flowsheet-result-cell-spec/with_interpretations.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/observation-spec/with_interpretations.png
Labels: :package: terra-clinical-result

#848 [terra-clinical-item-display] Add accessibility guidance for isTruncated prop
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/package.json
  packages/terra-clinical-item-display/src/ItemComment.jsx
  packages/terra-clinical-item-display/src/ItemDisplay.jsx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/clinical-item-display/clinicalItemDisplay.1.doc.mdx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/example/TruncatedText.jsx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/example/TruncatedTextSlidePanel.jsx
Labels: :package: terra-clinical-item-display, UX Review Required, UX Review Ready, Accessibility Review Ready, :star: Accessibility Reviewed

#854 [terra-clinical-item-view] Updating jests to properly consume item-display
  packages/terra-clinical-item-view/tests/jest/ItemView.test.jsx
  packages/terra-clinical-item-view/tests/jest/__snapshots__/ItemView.test.jsx.snap
Labels: :package: terra-clinical-item-view, :package: terra-clinical-item-display

#855 [terra-clinical-item-display] Update text style meaning to use VisuallyHiddenText
  packages/terra-clinical-item-display/CHANGELOG.md
  packages/terra-clinical-item-display/package.json
  packages/terra-clinical-item-display/src/ItemDisplay.jsx
  packages/terra-clinical-item-display/src/terra-dev-site/doc/example/TextStyleMeaning.jsx
  packages/terra-clinical-item-display/tests/jest/ItemDisplay.test.jsx
  packages/terra-clinical-item-display/tests/jest/__snapshots__/ItemDisplay.test.jsx.snap
Labels: :package: terra-clinical-item-display, :star: UX Reviewed, :star: Accessibility Reviewed
