Repository cerner/terra-clinical, pull requests merged in 2023-07, with the labels that each got.

#880 [terra-clinical-detail-view] Update Detail List to accept null as children
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/src/DetailList.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/test/clinical-detail-view/DetailList/LargeItemList.test.jsx
  packages/terra-clinical-detail-view/tests/jest/DetailList.test.jsx
  packages/terra-clinical-detail-view/tests/jest/__snapshots__/DetailList.test.jsx.snap
Labels: :package: terra-clinical-detail-view

#878 [terra-clinical-detail-view] Added terra-clinical-detail-view accessibility guide
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/clinical-detail-view/AccessibilityGuide.2.doc.mdx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/clinical-detail-view/ChangeLog.4.doc.mdx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/clinical-detail-view/UpgradeGuide.3.doc.mdx
Labels: :package: terra-clinical-detail-view, :star: UX Reviewed, :star: Accessibility Reviewed

#886 [clinical-detail-view][clinical-result] locked uuid to 7.0.3
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/package.json
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/clinical-detail-view/ClinicalDetailView.1.doc.mdx
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/package.json
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ClinicalResult.1.doc.mdx
Labels: :package: terra-clinical-detail-view, :package: terra-clinical-result

#875 [Terra Clinical Label Value View] Link the definition list in the LabelValueView with a text provided by the consumer, that describes what the definition list is about
  packages/terra-clinical-label-value-view/CHANGELOG.md
  packages/terra-clinical-label-value-view/src/LabelValueView.jsx
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/clinical-label-value-view/clinicalLabelValueView.1.doc.mdx
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/example/LabelValueViewTextDefinitionList.jsx
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/example/LabelValueViewTextTermAndDef.jsx
  packages/terra-clinical-label-value-view/src/terra-dev-site/test/clinical-label-value-view/TextValueLabelValueView.test.jsx
  packages/terra-clinical-label-value-view/tests/jest/LabelValueView.test.jsx
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_enormous/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/label-value-view-spec/text_value.png
Labels: :package: terra-clinical-label-value-view, UX Review Required, UX Review Ready, Accessibility Review Required

#881 [terra-clinical-result] Fix flowsheet overflow infinite render
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/flowsheet-result-cell-spec/with_semantic_table_padding_styles.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/flowsheet-result-cell-spec/with_semantic_table_padding_styles.png
  packages/terra-clinical-result/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/flowsheet-result-cell-spec/with_semantic_table_padding_styles.png
  packages/terra-clinical-result/tests/wdio/flowsheet-result-cell-spec.js
Labels: :package: terra-clinical-result, :star: UX Reviewed, :star: Accessibility Reviewed

#884 [terra-clinical-result] Add terra-clinical-result accessibility guide
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/AccessibilityGuide.6.doc.mdx
  packages/terra-clinical-result/src/terra-dev-site/doc/ClinicalResult/ChangeLog.7.doc.mdx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/flowsheet-result-cell/FlowsheetResultCellMultipleResultsSymbols.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/result-name-header-cell/ResultNameHeaderCellAccessibleNamesExample.jsx
Labels: :package: terra-clinical-result, :star: UX Reviewed, :star: Accessibility Reviewed

#882 [terra-clinical-result] Change translation keys for Observation icons
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/src/common/observation/_Observation.jsx
  packages/terra-clinical-result/tests/jest/common/observation/__snapshots__/Observation.test.jsx.snap
  packages/terra-clinical-result/translations/de.json
  packages/terra-clinical-result/translations/en-AU.json
  packages/terra-clinical-result/translations/en-CA.json
  packages/terra-clinical-result/translations/en-GB.json
  packages/terra-clinical-result/translations/en-US.json
  packages/terra-clinical-result/translations/en.json
  packages/terra-clinical-result/translations/es-ES.json
  packages/terra-clinical-result/translations/es-US.json
  packages/terra-clinical-result/translations/es.json
  packages/terra-clinical-result/translations/fi-FI.json
  packages/terra-clinical-result/translations/fr-FR.json
  packages/terra-clinical-result/translations/fr.json
  packages/terra-clinical-result/translations/nl-BE.json
  packages/terra-clinical-result/translations/nl.json
  packages/terra-clinical-result/translations/pt-BR.json
  packages/terra-clinical-result/translations/pt.json
  packages/terra-clinical-result/translations/sv-SE.json
  packages/terra-clinical-result/translations/sv.json
Labels: :package: terra-clinical-result

#889 [terra-clinical-detail-view] Set flex value in list-item class
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/src/DetailList.module.scss
  packages/terra-clinical-detail-view/src/terra-dev-site/test/clinical-detail-view/DetailList/ListItemSpansListWidth.test.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/test/clinical-detail-view/DetailList/ListItemSpansListWidth.test.module.scss
  packages/terra-clinical-detail-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/detail-list-spec/list_with_item_that_spans_list_width.png
  packages/terra-clinical-detail-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/detail-list-spec/list_with_item_that_spans_list_width.png
  packages/terra-clinical-detail-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/detail-list-spec/list_with_item_that_spans_list_width.png
  packages/terra-clinical-detail-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/detail-list-spec/list_with_item_that_spans_list_width.png
  packages/terra-clinical-detail-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/detail-list-spec/list_with_item_that_spans_list_width.png
  packages/terra-clinical-detail-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/detail-list-spec/list_with_item_that_spans_list_width.png
  packages/terra-clinical-detail-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/detail-list-spec/list_with_item_that_spans_list_width.png
  packages/terra-clinical-detail-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/detail-list-spec/list_with_item_that_spans_list_width.png
  packages/terra-clinical-detail-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/detail-list-spec/list_with_item_that_spans_list_width.png
  packages/terra-clinical-detail-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/detail-list-spec/list_with_item_that_spans_list_width.png
  packages/terra-clinical-detail-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/detail-list-spec/list_with_item_that_spans_list_width.png
  packages/terra-clinical-detail-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/detail-list-spec/list_with_item_that_spans_list_width.png
  packages/terra-clinical-detail-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/detail-list-spec/list_with_item_that_spans_list_width.png
  packages/terra-clinical-detail-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/detail-list-spec/list_with_item_that_spans_list_width.png
  packages/terra-clinical-detail-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/detail-list-spec/list_with_item_that_spans_list_width.png
  packages/terra-clinical-detail-view/tests/wdio/detail-list-spec.js
Labels: :package: terra-clinical-detail-view, bug-fix, :star: UX Reviewed
