Repository cerner/terra-clinical, pull requests merged in 2023-06, with the labels that each got.

#858 [terra-clinical-detail-view] Allow users to select a heading level for title elements
  CONTRIBUTORS.md
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/src/DetailList.jsx
  packages/terra-clinical-detail-view/src/DetailList.module.scss
  packages/terra-clinical-detail-view/src/DetailView.jsx
  packages/terra-clinical-detail-view/src/DetailView.module.scss
  packages/terra-clinical-detail-view/src/HeadingLevelContext.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/example/DetailViewDivided.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/example/DetailViewDividedSmallerTitles.jsx
  packages/terra-clinical-detail-view/tests/jest/DetailList.test.jsx
  packages/terra-clinical-detail-view/tests/jest/DetailView.test.jsx
  packages/terra-clinical-detail-view/tests/jest/__snapshots__/DetailList.test.jsx.snap
  packages/terra-clinical-detail-view/tests/jest/__snapshots__/DetailView.test.jsx.snap
Labels: :package: terra-clinical-detail-view, :star: UX Reviewed, :star: Accessibility Reviewed

#859 [terra-clinical-result] Read out 'Value Uncharted as In Error' when s…
  CONTRIBUTORS.md
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/package.json
  packages/terra-clinical-result/src/common/other/_EnteredInError.jsx
  packages/terra-clinical-result/tests/jest/common/other/EnteredInError.test.jsx
  packages/terra-clinical-result/tests/jest/common/other/__snapshots__/EnteredInError.test.jsx.snap
Labels: :package: terra-clinical-result, :star: Accessibility Reviewed

#861 [terra-clinical-detail-view] Use semantic html elements for accessibility
  CONTRIBUTORS.md
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/src/DetailView.jsx
  packages/terra-clinical-detail-view/src/DetailView.module.scss
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/clinical-detail-view/ClinicalDetailView.1.doc.mdx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/example/DetailViewDividedSmallerTitles.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/test/clinical-detail-view/DetailView/DetailViewDivided.test.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/test/clinical-detail-view/DetailView/DetailViewDividedSmallerTitles.test.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/test/clinical-detail-view/DetailView/DetailViewNoDivider.test.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/test/clinical-detail-view/DetailView/DetailViewOverflowText.test.jsx
  packages/terra-clinical-detail-view/tests/jest/__snapshots__/DetailView.test.jsx.snap
Labels: :package: terra-clinical-detail-view, :star: UX Reviewed, :star: Accessibility Reviewed

#856 [terra-clinical-label-value-view] Updated control to be correctly interpreted by the screen readers
  CONTRIBUTORS.md
  packages/terra-clinical-label-value-view/CHANGELOG.md
  packages/terra-clinical-label-value-view/src/LabelValueView.jsx
  packages/terra-clinical-label-value-view/src/LabelValueView.module.scss
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/clinical-label-value-view/clinicalLabelValueView.1.doc.mdx
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/example/LabelValueViewTextDefinitionList.jsx
  packages/terra-clinical-label-value-view/src/terra-dev-site/doc/example/LabelValueViewTextTermAndDef.jsx
  packages/terra-clinical-label-value-view/src/terra-dev-site/test/clinical-label-value-view/TextValueLabelValueView.test.jsx
  packages/terra-clinical-label-value-view/tests/jest/__snapshots__/LabelValueView.test.jsx.snap
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_enormous/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/label-value-view-spec/text_value.png
  packages/terra-clinical-label-value-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/label-value-view-spec/text_value.png
Labels: :package: terra-clinical-label-value-view, :star: UX Reviewed, :star: Accessibility Reviewed

#863 [terra-clinical-result] Add contexts for multiple results in Flowshee…
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/package.json
  packages/terra-clinical-result/src/flowsheet-result-cell/FlowsheetResultCell.jsx
  packages/terra-clinical-result/tests/jest/flowsheet-result-cell/FlowsheetResultCell.test.jsx
  packages/terra-clinical-result/tests/jest/flowsheet-result-cell/__snapshots__/FlowsheetResultCell.test.jsx.snap
  packages/terra-clinical-result/translations/en.json
Labels: :package: terra-clinical-result, :star: UX Reviewed, :star: Functionally Reviewed, :star: Accessibility Reviewed

#870 [terra-clinical-result] Add alt text for strikethroughs to be understood as entered in error
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/src/_BloodPressureDisplay.jsx
  packages/terra-clinical-result/src/_ClinicalResultDisplay.jsx
  packages/terra-clinical-result/src/common/other/_EnteredInError.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result-blood-pressure/EnteredInErrorClinicalResultBloodPressureHiddenUnit.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result-blood-pressure/EnteredInErrorClinicalResultBloodPressureNoUnit.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result-blood-pressure/EnteredInErrorClinicalResultBloodPressurePartial.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result/EnteredInErrorResultHiddenUnit.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result/EnteredInErrorResultNoUnit.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/clinical-result/EnteredInErrorResultWithUnit.test.jsx
  packages/terra-clinical-result/tests/jest/_BloodPressureDisplay.test.jsx
  packages/terra-clinical-result/tests/jest/_ClinicalResultDisplay.test.jsx
  packages/terra-clinical-result/tests/jest/__snapshots__/ClinicalResult.test.jsx.snap
  packages/terra-clinical-result/tests/jest/__snapshots__/ClinicalResultBloodPressure.test.jsx.snap
  packages/terra-clinical-result/tests/jest/__snapshots__/_ClinicalResultDisplay.test.jsx.snap
  packages/terra-clinical-result/tests/jest/common/other/EnteredInError.test.jsx
  packages/terra-clinical-result/tests/jest/common/other/__snapshots__/EnteredInError.test.jsx.snap
  packages/terra-clinical-result/translations/de.json
  packages/terra-clinical-result/translations/en-AU.json
  packages/terra-clinical-result/translations/en-CA.json
  packages/terra-clinical-result/translations/en-GB.json
  packages/terra-clinical-result/translations/en-US.json
  packages/terra-clinical-result/translations/en.json
  packages/terra-clinical-result/translations/es-ES.json
  packages/terra-clinical-result/translations/es-US.json
  packages/terra-clinical-result/translations/es.json
  packages/terra-clinical-result/translations/fi-FI.json
  packages/terra-clinical-result/translations/fr-FR.json
  packages/terra-clinical-result/translations/fr.json
  packages/terra-clinical-result/translations/nl-BE.json
  packages/terra-clinical-result/translations/nl.json
  packages/terra-clinical-result/translations/pt-BR.json
  packages/terra-clinical-result/translations/pt.json
  packages/terra-clinical-result/translations/sv-SE.json
  packages/terra-clinical-result/translations/sv.json
Labels: :package: terra-clinical-result, :star: UX Reviewed, :star: Accessibility Reviewed

#864 [terra-clinical-detail-view] Update DetailList to use HTML list elements
  CONTRIBUTORS.md
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/src/DetailList.jsx
  packages/terra-clinical-detail-view/src/DetailList.module.scss
  packages/terra-clinical-detail-view/src/DetailListItem.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/example/DetailViewDivided.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/example/DetailViewDivided.module.scss
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/example/DetailViewDividedSmallerTitles.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/example/DetailViewNoDivider.jsx
  packages/terra-clinical-detail-view/tests/jest/DetailList.test.jsx
  packages/terra-clinical-detail-view/tests/jest/__snapshots__/DetailList.test.jsx.snap
Labels: :package: terra-clinical-detail-view, :star: UX Reviewed, :star: Accessibility Reviewed

#867 [terra-clinical-result] Restructure the header name cell to be related
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/src/result-name-header-cell/ResultNameHeaderCell.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/result-name-header-cell/ResultNameHeaderFlowsheetExample.jsx
  packages/terra-clinical-result/tests/jest/result-name-header-cell/ResultNameHeaderCell.test.jsx
  packages/terra-clinical-result/tests/jest/result-name-header-cell/__snapshots__/ResultNameHeaderCell.test.jsx.snap
Labels: :package: terra-clinical-result, :star: UX Reviewed, :star: Accessibility Reviewed

#868 [terra-clinical-result] Restructure the Blood Pressure with additional displays as a group
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/package.json
  packages/terra-clinical-result/src/ClinicalResultBloodPressure.jsx
  packages/terra-clinical-result/src/terra-dev-site/doc/example/clinical-result-blood-pressure/ClinicalResultBloodPressureExtraDisplays.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/TestResults.jsx
  packages/terra-clinical-result/tests/jest/ClinicalResultBloodPressure.test.jsx
  packages/terra-clinical-result/tests/jest/__snapshots__/ClinicalResultBloodPressure.test.jsx.snap
  packages/terra-clinical-result/translations/de.json
  packages/terra-clinical-result/translations/en-AU.json
  packages/terra-clinical-result/translations/en-CA.json
  packages/terra-clinical-result/translations/en-GB.json
  packages/terra-clinical-result/translations/en-US.json
  packages/terra-clinical-result/translations/en.json
  packages/terra-clinical-result/translations/es-ES.json
  packages/terra-clinical-result/translations/es-US.json
  packages/terra-clinical-result/translations/es.json
  packages/terra-clinical-result/translations/fi-FI.json
  packages/terra-clinical-result/translations/fr-FR.json
  packages/terra-clinical-result/translations/fr.json
  packages/terra-clinical-result/translations/nl-BE.json
  packages/terra-clinical-result/translations/nl.json
  packages/terra-clinical-result/translations/pt-BR.json
  packages/terra-clinical-result/translations/pt.json
  packages/terra-clinical-result/translations/sv-SE.json
  packages/terra-clinical-result/translations/sv.json
Labels: :package: terra-clinical-result, :star: UX Reviewed, :star: Accessibility Reviewed

#869 [terra-clinical-detail-view] Add aria-labelledby to section and associate to the title, update example in dev site with graph
  packages/terra-clinical-detail-view/CHANGELOG.md
  packages/terra-clinical-detail-view/package.json
  packages/terra-clinical-detail-view/src/DetailView.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/example/DetailViewDivided.jsx
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/example/DetailViewDivided.module.scss
  packages/terra-clinical-detail-view/src/terra-dev-site/doc/example/DetailViewDividedSmallerTitles.jsx
  packages/terra-clinical-detail-view/tests/jest/DetailView.test.jsx
  packages/terra-clinical-detail-view/tests/jest/__snapshots__/DetailView.test.jsx.snap
Labels: :package: terra-clinical-detail-view, :star: UX Reviewed, :star: Functionally Reviewed, :star: Accessibility Reviewed

#873 [terra-clinical-result] Add optional chaining operator to clinical result display and update translations
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/src/_ClinicalResultDisplay.jsx
  packages/terra-clinical-result/tests/jest/ClinicalResult.test.jsx
  packages/terra-clinical-result/tests/jest/__snapshots__/ClinicalResult.test.jsx.snap
  packages/terra-clinical-result/translations/de.json
  packages/terra-clinical-result/translations/en-AU.json
  packages/terra-clinical-result/translations/en-CA.json
  packages/terra-clinical-result/translations/en-GB.json
  packages/terra-clinical-result/translations/es-ES.json
  packages/terra-clinical-result/translations/es-US.json
  packages/terra-clinical-result/translations/es.json
  packages/terra-clinical-result/translations/fi-FI.json
  packages/terra-clinical-result/translations/fr-FR.json
  packages/terra-clinical-result/translations/fr.json
  packages/terra-clinical-result/translations/nl-BE.json
  packages/terra-clinical-result/translations/nl.json
  packages/terra-clinical-result/translations/pt-BR.json
  packages/terra-clinical-result/translations/pt.json
  packages/terra-clinical-result/translations/sv-SE.json
  packages/terra-clinical-result/translations/sv.json
Labels: :package: terra-clinical-result

#865 [terra-clinical-result] Update Result Time/Name header cells and FlowsheetResultCell to use proper HTML tag
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/package.json
  packages/terra-clinical-result/src/flowsheet-result-cell/FlowsheetResultCell.jsx
  packages/terra-clinical-result/src/flowsheet-result-cell/FlowsheetResultCell.module.scss
  packages/terra-clinical-result/src/result-name-header-cell/ResultNameHeaderCell.jsx
  packages/terra-clinical-result/src/result-name-header-cell/ResultNameHeaderCell.module.scss
  packages/terra-clinical-result/src/result-time-header-cell/ResultTimeHeaderCell.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/flowsheet-result-cell/SemanticTableWithFlowsheetResultCell.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/result-name-header-cell/SemanticTableWithResultNameHeaderCell.test.jsx
  packages/terra-clinical-result/src/terra-dev-site/test/clinical-result/result-time-header-cell/SemanticTableWithResultTimeHeaderCell.test.jsx
  packages/terra-clinical-result/tests/jest/flowsheet-result-cell/__snapshots__/FlowsheetResultCell.test.jsx.snap
  packages/terra-clinical-result/tests/jest/result-name-header-cell/__snapshots__/ResultNameHeaderCell.test.jsx.snap
  packages/terra-clinical-result/tests/jest/result-time-header-cell/__snapshots__/ResultTimeHeaderCell.test.jsx.snap
Labels: :package: terra-clinical-result, :star: UX Reviewed, :star: Accessibility Reviewed

#872 [terra-clinical-result] Update ResultTimeHeaderCell to use <time> html tags
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/src/result-time-header-cell/ResultTimeHeaderCell.jsx
  packages/terra-clinical-result/src/result-time-header-cell/ResultTimeHeaderCell.module.scss
  packages/terra-clinical-result/tests/jest/result-time-header-cell/__snapshots__/ResultTimeHeaderCell.test.jsx.snap
Labels: :package: terra-clinical-result, :star: UX Reviewed, :star: Accessibility Reviewed

#876 [terra-clinical-result] Remove <time> tags from ResultTimeHeaderCell
  packages/terra-clinical-result/CHANGELOG.md
  packages/terra-clinical-result/src/result-time-header-cell/ResultTimeHeaderCell.jsx
  packages/terra-clinical-result/tests/jest/result-time-header-cell/__snapshots__/ResultTimeHeaderCell.test.jsx.snap
Labels: :package: terra-clinical-result, :star: UX Reviewed, :star: Accessibility Reviewed

#879 [terra-clinical-data-grid] Updating jest snapshots
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/tests/jest/__snapshots__/DataGrid.test.jsx.snap
Labels: :package: terra-clinical-data-grid
