Repository cerner/terra-clinical, pull requests merged in 2024-04, with the labels that each got.

#940 [terra-clinical-header] Added wrapContent to make wrapping of content optional
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/src/Header.jsx
  packages/terra-clinical-header/src/Header.module.scss
  packages/terra-clinical-header/src/terra-dev-site/test/clinical-header/ClinicalHeaderCommontest.module.scss
  packages/terra-clinical-header/src/terra-dev-site/test/clinical-header/HeaderWrapContent.test.jsx
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_enormous/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/header-spec.js
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/onset-spec/age_input.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/onset-spec/date_input.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/onset-spec/invalid_age_input.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/onset-spec/month_and_year_select.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/onset-spec/month_option_selected.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/onset-spec/month_options.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/onset-spec/unknown_precision.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/onset-spec/year_option_selected.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/onset-spec/year_options.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/onset-spec/year_select.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/onset-spec/age_input.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/onset-spec/date_input.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/onset-spec/invalid_age_input.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/onset-spec/month_and_year_select.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/onset-spec/month_option_selected.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/onset-spec/month_options.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/onset-spec/unknown_precision.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/onset-spec/year_option_selected.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/onset-spec/year_options.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/onset-spec/year_select.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/onset-spec/age_input.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/onset-spec/date_input.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/onset-spec/invalid_age_input.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/onset-spec/month_and_year_select.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/onset-spec/month_option_selected.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/onset-spec/month_options.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/onset-spec/unknown_precision.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/onset-spec/year_option_selected.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/onset-spec/year_options.png
  packages/terra-clinical-onset-picker/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/onset-spec/year_select.png
Labels: :package: terra-clinical-header

#941 Release 02/04
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/package.json
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/package.json
Labels: release

#942 renamed year select min-width css variable
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/src/OnsetPicker.module.scss
  packages/terra-clinical-onset-picker/src/clinical-lowlight-theme/OnsetPicker.module.scss
  packages/terra-clinical-onset-picker/src/orion-fusion-theme/OnsetPicker.module.scss
Labels: :package: terra-clinical-onset-picker

#943 Release April 11, 2024
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/package.json
Labels: release

#944 [terra-clinical-header] Removed title div when value is not provided for text prop.
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/src/Header.jsx
  packages/terra-clinical-header/src/Header.module.scss
  packages/terra-clinical-header/tests/jest/Header.test.jsx
  packages/terra-clinical-header/tests/jest/__snapshots__/Header.test.jsx.snap
Labels: :package: terra-clinical-header

#945 Release 15/04
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/package.json
Labels: release

#946 [terra-clinical-header] Adjusted title width to fit content
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/src/Header.module.scss
  packages/terra-clinical-header/src/terra-dev-site/test/clinical-header/HeaderWrapContent.test.jsx
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_enormous/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/header-spec/wrapped_content.png
  packages/terra-clinical-header/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/header-spec/wrapped_content.png
Labels: :package: terra-clinical-header

#947 Release 25/04
  packages/terra-clinical-header/CHANGELOG.md
  packages/terra-clinical-header/package.json
Labels: release
