Repository cerner/terra-clinical, pull requests merged in 2024-01, with the labels that each got.

#928 [terra-clinical-onset-picker] Fixes screen reader issues
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/src/OnsetPicker.jsx
  packages/terra-clinical-onset-picker/tests/jest/OnsetPicker.test.jsx
  packages/terra-clinical-onset-picker/tests/jest/__snapshots__/OnsetPicker.test.jsx.snap
Labels: :package: terra-clinical-onset-picker, Accessibility Review Required

#929 release-4-1-24
  packages/terra-clinical-onset-picker/CHANGELOG.md
  packages/terra-clinical-onset-picker/package.json
Labels: release

#931 Terra Clinical Data Grid - Added Deprecation Notice
  packages/terra-clinical-data-grid/CHANGELOG.md
  packages/terra-clinical-data-grid/src/terra-dev-site/doc/clinical-data-grid/clinicalDataGrid.1.doc.mdx
Labels: :package: terra-clinical-data-grid, Tech Writing Review Required
